In [1]:
import pandas as pd
import numpy as np

In [2]:
#Leo el csv events
events_df = pd.read_csv('/home/miki_mustard/ev_con_3_supports.csv', low_memory=False)

In [3]:
events_df.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,q2,q3,q4,q5,q6,q7,q8,q9,q10,support_p_todos_sus_ev
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,False,False,False,False,False,False,False,False,True,0.218522
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,False,False,False,False,False,False,False,False,True,0.260913
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,False,False,False,False,False,False,False,False,True,0.008396
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,False,False,False,False,False,False,False,False,True,0.138376
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,False,False,False,False,False,False,False,False,True,0.038811

In [5]:
events_df.columns

Index(['timestamp', 'event', 'person', 'url', 'sku', 'model', 'condition',
       'storage', 'color', 'skus', 'search_term', 'staticpage',
       'campaign_source', 'search_engine', 'channel', 'new_vs_returning',
       'city', 'region', 'country', 'device_type', 'screen_resolution',
       'operating_system_version', 'browser_version', 'mes', 'dia', 'q1', 'q2',
       'q3', 'q4', 'q5', 'q6', 'q7', 'q8', 'q9', 'q10',
       'support_p_todos_sus_ev'],
      dtype='object')

In [3]:
#Leo el csv labels
labels_df = pd.read_csv("/home/miki_mustard/Desktop/Facultad/Datos/TP2/fiuba-trocafone-tp2-final-set/labels_training_set.csv", low_memory=False)

In [5]:
labels_df.head()

     person  label
0  0566e9c1      0
1  6ec7ee77      0
2  abe7a2fb      0
3  34728364      0
4  87ed62de      0

In [4]:
# some date processing
def date_proc(df):
    df['timestamp'] = pd.to_datetime(df['timestamp'])
    df['year'] = df['timestamp'].dt.year
    df['month'] = df['timestamp'].dt.month
    df['day'] = df['timestamp'].dt.day
    df['weekday'] = df['timestamp'].dt.day_name()
    df['hour'] = df['timestamp'].dt.hour
    df['year_month_day'] = df['timestamp'].map(lambda x: str(x.year)+"/"+str(x.month)+"/"+str(x.day))
    df['year_month_day'] = pd.to_datetime(df['year_month_day'])

In [5]:
date_proc(events_df)

In [6]:
from sklearn import preprocessing
from sklearn.feature_extraction import DictVectorizer
from sklearn.preprocessing import OneHotEncoder
from sklearn.feature_extraction import FeatureHasher
from sklearn.preprocessing import LabelBinarizer

weekday_le = preprocessing.LabelEncoder()
weekday_le.fit(events_df.weekday)

events_df.weekday = weekday_le.transform(events_df.weekday)

In [7]:
def month_to_cyclic(df):
    df['month_sin'] = df['month'].apply(lambda x: np.sin(2*np.pi*x/12))
    df['month_cos'] = df['month'].apply(lambda x: np.cos(2*np.pi*x/12))
    df.drop('month', axis=1, inplace=True)
    
def day_to_cyclic(df):
    df['day_sin'] = df['day'].apply(lambda x: np.sin(2*np.pi*x/31))
    df['day_cos'] = df['day'].apply(lambda x: np.cos(2*np.pi*x/31))
    df.drop('day', axis=1, inplace=True)

def weekday_to_cyclic(df):
    df['weekday_sin'] = df['weekday'].apply(lambda x: np.sin(2*np.pi*x/7))
    df['weekday_cos'] = df['weekday'].apply(lambda x: np.cos(2*np.pi*x/7))
    df.drop('weekday', axis=1, inplace=True)

def hour_to_cyclic(df):
    df['hour_sin'] = df['hour'].apply(lambda x: np.sin(2*np.pi*x/24))
    df['hour_cos'] = df['hour'].apply(lambda x: np.cos(2*np.pi*x/24))
    df.drop('hour', axis=1, inplace=True)

In [12]:
events_df.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,q8,q9,q10,support_p_todos_sus_ev,year,month,day,weekday,hour,year_month_day
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,False,False,True,0.218522,2018,5,18,0,0,2018-05-18
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,False,False,True,0.260913,2018,5,18,0,0,2018-05-18
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,False,False,True,0.008396,2018,5,18,0,0,2018-05-18
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,False,False,True,0.138376,2018,5,18,0,0,2018-05-18
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,False,False,True,0.038811,2018,5,18,0,0,2018-05-18

In [8]:
month_to_cyclic(events_df)
day_to_cyclic(events_df)
weekday_to_cyclic(events_df)
hour_to_cyclic(events_df)

In [14]:
events_df.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,year,year_month_day,month_sin,month_cos,day_sin,day_cos,weekday_sin,weekday_cos,hour_sin,hour_cos
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,2018,2018-05-18,0.5,-0.866025,-0.485302,-0.874347,0.0,1.0,0.0,1.0
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,2018,2018-05-18,0.5,-0.866025,-0.485302,-0.874347,0.0,1.0,0.0,1.0
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,2018,2018-05-18,0.5,-0.866025,-0.485302,-0.874347,0.0,1.0,0.0,1.0
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,2018,2018-05-18,0.5,-0.866025,-0.485302,-0.874347,0.0,1.0,0.0,1.0
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,2018,2018-05-18,0.5,-0.866025,-0.485302,-0.874347,0.0,1.0,0.0,1.0

In [9]:
events_df.drop('year_month_day', axis=1, inplace=True)

In [10]:
events_df.columns

Index(['timestamp', 'event', 'person', 'url', 'sku', 'model', 'condition',
       'storage', 'color', 'skus', 'search_term', 'staticpage',
       'campaign_source', 'search_engine', 'channel', 'new_vs_returning',
       'city', 'region', 'country', 'device_type', 'screen_resolution',
       'operating_system_version', 'browser_version', 'mes', 'dia', 'q1', 'q2',
       'q3', 'q4', 'q5', 'q6', 'q7', 'q8', 'q9', 'q10',
       'support_p_todos_sus_ev', 'support_con_peso', 'support_ind', 'year',
       'month_sin', 'month_cos', 'day_sin', 'day_cos', 'weekday_sin',
       'weekday_cos', 'hour_sin', 'hour_cos'],
      dtype='object')

In [22]:
#df["B"] = df["A"].astype('category')
#events_df['condicion'] = events_df['condition'].astype('category')
#events_df = events_df.drop(columns = ['condicion'] )

## Reemplazo la condicion por un valor, le doy el valor mas alto a la condicion Excelente

In [18]:
events_df.condition.value_counts()

Bom                   547617
Excelente             378697
Muito Bom             359053
Bom - Sem Touch ID     31742
Novo                    3421
Name: condition, dtype: int64

In [19]:
events_df['condition'].unique()

array(['Excelente', 'Muito Bom', 'Bom', nan, 'Bom - Sem Touch ID', 'Novo'],
      dtype=object)

In [20]:
events_df.condition.value_counts()

Bom                   547617
Excelente             378697
Muito Bom             359053
Bom - Sem Touch ID     31742
Novo                    3421
Name: condition, dtype: int64

In [21]:
events_df.replace(to_replace=['Excelente', 'Muito Bom', 'Bom', 'Bom - Sem Touch ID', 'Novo'], value=[5, 4, 3, 2, 1], inplace=True)

In [22]:
#relleno los nan con cero
events_df.condition = events_df.condition.fillna(0)

In [23]:
events_df.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,support_p_todos_sus_ev,year,month_sin,month_cos,day_sin,day_cos,weekday_sin,weekday_cos,hour_sin,hour_cos
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,5.0,32GB,Dourado,NaN,...,0.218522,2018,0.5,-0.866025,-0.485302,-0.874347,0.0,1.0,0.0,1.0
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,4.0,32GB,Cinza espacial,NaN,...,0.260913,2018,0.5,-0.866025,-0.485302,-0.874347,0.0,1.0,0.0,1.0
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,4.0,64GB,Prateado,NaN,...,0.008396,2018,0.5,-0.866025,-0.485302,-0.874347,0.0,1.0,0.0,1.0
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,3.0,128GB,Vermelho,NaN,...,0.138376,2018,0.5,-0.866025,-0.485302,-0.874347,0.0,1.0,0.0,1.0
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,5.0,32GB,Branco,NaN,...,0.038811,2018,0.5,-0.866025,-0.485302,-0.874347,0.0,1.0,0.0,1.0

In [24]:
events_df['condition'].value_counts()

0.0    1021151
3.0     547617
5.0     378697
4.0     359053
2.0      31742
1.0       3421
Name: condition, dtype: int64

In [68]:
#events_df.condition.replace(to_replace=6, value=0, inplace=True)

In [69]:
#events_df['condition'].unique()

array([5., 4., 3., 0., 2., 1.])

## Hago lo mismo para el color

In [55]:
events_df.color.value_counts()

Preto               314925
Dourado             275212
Cinza espacial      151770
Branco              126496
Prateado            114284
Ouro Rosa            79656
Rosa                 43092
Prata                35551
Preto Matte          31750
Azul                 20157
Platinum             17190
Preto Brilhante      14964
Ametista             14718
Ouro                 11280
Cinza                 7107
Vermelho              6851
Bambu                 6667
Verde                 5597
Black Piano           4920
Preto Vermelho        4425
Branco Vermelho       3577
Titânio               3410
Preto Azul            2548
Indigo                1974
Cabernet              1691
Amarelo               1690
Branco Azul           1576
Verde Água            1548
Olympic Edition       1536
Azul Escuro           1535
                     ...
Rouge                 1013
Azul Safira            791
Preto Verde            771
Rose                   769
Branco Framboesa       678
Roxo                   644
Couro Vintage          636
Azul Topázio           480
Iuna                   443
Branco Azul Navy       436
Preto Cabernet         261
Preto Pink             218
Branco Cabernet        210
Preto Azul Navy        205
Coral                  200
Couro Navy             187
Couro Marrom           178
Framboesa              133
Cobre                  130
Turquesa               120
Ônix                   113
Branco Verde           102
Preto Tabaco            87
Couro Vinho             83
Verde Petroleo          82
Preto Branco            69
Preto Bambu             63
Cromo                   32
Preto Asfalto           29
Silver                  11
Name: color, Length: 63, dtype: int64

In [25]:
events_df.color = events_df.color.fillna(0)

In [31]:
colores = events_df['color'].unique()
print( len(colores) )
print( colores )
colores[5] = "no_hay_color"
print( colores )

64
['Dourado' 'Cinza espacial' 'Prateado' 'Vermelho' 'Branco' 0 'Platinum'
 'Ouro' 'Preto Vermelho' 'Preto' 'Ouro Rosa' 'Ametista' 'Rosa'
 'Couro Vintage' 'Prata' 'Bambu' 'Preto Matte' 'Preto Verde'
 'Branco Vermelho' 'Azul' 'Rouge' 'Verde' 'Rose' 'Preto Brilhante'
 'Branco Pink' 'Preto Azul' 'Titânio' 'Cinza' 'Branco Framboesa'
 'Branco Azul Navy' 'Indigo' 'Amarelo' 'Iuna' 'Azul Safira' 'Black Piano'
 'Verde Água' 'Branco Azul' 'Cabernet' 'Cobre' 'Olympic Edition'
 'Branco Cabernet' 'Preto Azul Navy' 'Azul Topázio' 'Couro Navy'
 'Azul Escuro' 'Branco Bambu' 'Preto Pink' 'Preto Tabaco' 'Branco Dourado'
 'Verde Petroleo' 'Turquesa' 'Preto Bambu' 'Couro Marrom' 'Couro Vinho'
 'Roxo' 'Cromo' 'Coral' 'Preto Cabernet' 'Branco Verde' 'Framboesa'
 'Preto Branco' 'Silver' 'Ônix' 'Preto Asfalto']
['Dourado' 'Cinza espacial' 'Prateado' 'Vermelho' 'Branco' 'no_hay_color'
 'Platinum' 'Ouro' 'Preto Vermelho' 'Preto' 'Ouro Rosa' 'Ametista' 'Rosa'
 'Couro Vintage' 'Prata' 'Bambu' 'Preto Matte' 'Preto Verde'
 'Branco Vermelho' 'Azul' 'Rouge' 'Verde' 'Rose' 'Preto Brilhante'
 'Branco Pink' 'Preto Azul' 'Titânio' 'Cinza' 'Branco Framboesa'
 'Branco Azul Navy' 'Indigo' 'Amarelo' 'Iuna' 'Azul Safira' 'Black Piano'
 'Verde Água' 'Branco Azul' 'Cabernet' 'Cobre' 'Olympic Edition'
 'Branco Cabernet' 'Preto Azul Navy' 'Azul Topázio' 'Couro Navy'
 'Azul Escuro' 'Branco Bambu' 'Preto Pink' 'Preto Tabaco' 'Branco Dourado'
 'Verde Petroleo' 'Turquesa' 'Preto Bambu' 'Couro Marrom' 'Couro Vinho'
 'Roxo' 'Cromo' 'Coral' 'Preto Cabernet' 'Branco Verde' 'Framboesa'
 'Preto Branco' 'Silver' 'Ônix' 'Preto Asfalto']

In [32]:
lista_1_65 = np.array(range(1,65))

In [33]:
len(lista_1_65)

64

In [34]:
events_df.replace(to_replace=colores, value=lista_1_65, inplace=True)

KeyboardInterrupt:

In [35]:
events_df.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,support_p_todos_sus_ev,year,month_sin,month_cos,day_sin,day_cos,weekday_sin,weekday_cos,hour_sin,hour_cos
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,5.0,32GB,1,NaN,...,0.218522,2018,0.5,-0.866025,-0.485302,-0.874347,0.0,1.0,0.0,1.0
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,4.0,32GB,2,NaN,...,0.260913,2018,0.5,-0.866025,-0.485302,-0.874347,0.0,1.0,0.0,1.0
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,4.0,64GB,3,NaN,...,0.008396,2018,0.5,-0.866025,-0.485302,-0.874347,0.0,1.0,0.0,1.0
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,3.0,128GB,4,NaN,...,0.138376,2018,0.5,-0.866025,-0.485302,-0.874347,0.0,1.0,0.0,1.0
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,5.0,32GB,5,NaN,...,0.038811,2018,0.5,-0.866025,-0.485302,-0.874347,0.0,1.0,0.0,1.0

In [71]:
events_df.color.value_counts()

6     1021151
10     314925
1      275212
2      151770
5      126496
3      114284
11      79656
13      43092
15      35551
17      31750
20      20157
7       17190
24      14964
12      14718
8       11280
28       7107
4        6851
16       6667
22       5597
35       4920
9        4425
19       3577
27       3410
26       2548
31       1974
38       1691
32       1690
37       1576
36       1548
40       1536
       ...
21       1013
34        791
18        771
23        769
29        678
55        644
14        636
43        480
33        443
30        436
58        261
47        218
41        210
42        205
57        200
44        187
53        178
60        133
39        130
51        120
63        113
59        102
48         87
54         83
50         82
61         69
52         63
56         32
64         29
62         11
Name: color, Length: 64, dtype: int64

In [72]:
events_df.color.replace(to_replace=6, value=0, inplace=True)

In [80]:
events_df.head(3)

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,q8,q9,q10,support_p_todos_sus_ev,year,month,day,weekday,hour,year_month_day
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,5.0,32GB,1,NaN,...,False,False,True,0.218522,2018,5,18,Friday,6,2018-05-18
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,4.0,32GB,2,NaN,...,False,False,True,0.260913,2018,5,18,Friday,6,2018-05-18
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,4.0,64GB,3,NaN,...,False,False,True,0.008396,2018,5,18,Friday,6,2018-05-18

## Al modelo lo separo por marca y hago un estilo de OHE

In [39]:
events_df.model.unique()

array(['Samsung Galaxy J7 Prime', 'iPhone 5s', 'iPhone 6S', 'iPhone 7',
       'LG G4 H818P', nan, 'iPhone 6', 'iPhone 6 Plus',
       'Motorola Moto G5 Plus', 'Motorola Moto G4 Plus', 'iPad Air Wi-Fi',
       'Samsung Galaxy S6 Flat', 'Samsung Galaxy S8 Plus',
       'Samsung Galaxy S5', 'iPhone SE', 'Samsung Galaxy S7',
       'Motorola Moto X2', 'Motorola Moto G3 4G',
       'Motorola Moto X Play 4G Dual', 'Motorola Moto G4 Play',
       'Samsung Galaxy J5', 'Samsung Galaxy S5 New Edition Duos ',
       'Motorola Moto G3 HDTV', 'Motorola Moto G5 ', 'Samsung Galaxy J3',
       'Samsung Galaxy S6 Edge', 'Samsung Galaxy Note 8',
       'Sony Xperia Z2', 'Motorola Moto G2 3G Dual',
       'Motorola Moto Z Play', 'Samsung Galaxy S8', 'Samsung Galaxy On 7',
       'Samsung Galaxy S7 Edge', 'iPhone 8', 'iPhone 6S Plus',
       'LG K10 Novo', 'Samsung Galaxy Core Plus Duos TV', 'iPhone 5c',
       'iPhone 4S', 'Motorola Moto X Style', 'iPhone 7 Plus',
       'Samsung Galaxy A5 2016', 'Samsung Galaxy A5',
       'Motorola Moto G5S Plus', 'Samsung Galaxy J7',
       'Samsung Galaxy A3 2016', 'Samsung Galaxy S3 i9300',
       'Sony Xperia M4 Aqua Dual', 'Samsung Galaxy Note 3',
       'Motorola Moto G2 4G Dual', 'iPad Mini Wi-Fi + 4G', 'iPhone 5',
       'Samsung Galaxy Note 5', 'Sony Xperia M4 Aqua', 'LG G5 SE',
       'Motorola Moto Z', 'Samsung Galaxy Note 4', 'iPad Air 2 Wi-Fi',
       'Samsung Galaxy S4 i9515', 'Sony Xperia Z5',
       'Samsung Galaxy J5 PRO', 'Samsung Galaxy S6 Edge Plus',
       'Lenovo Vibe A7010 Dual Chip', 'Samsung Galaxy J1 Mini',
       'Samsung Galaxy S3 Mini', 'iPhone 4G', 'Samsung Galaxy Y Duos',
       'Motorola Moto X Force', 'Motorola Moto Z2 Play',
       'Samsung Galaxy Gran Prime Duos TV', 'Samsung Galaxy A5 2017',
       'Samsung Galaxy Gran Neo Duos', 'Motorola Moto MAXX ',
       'Motorola Moto G4 DTV', 'Samsung Galaxy A9 Pro 2016',
       'Samsung Galaxy S5 Mini Duos', 'Samsung Galaxy A7 2017',
       'Samsung Galaxy J2 Prime TV', 'Samsung Galaxy Gran Prime 3G Duos',
       'Sony Xperia Z3 Dual', 'Sony Xperia Z3 TV',
       'Sony Xperia Z3 Compact', 'Samsung Galaxy J5 Prime',
       'Motorola Moto E2 4G Dual', 'Samsung Galaxy Core 2 Duos',
       'LG Nexus 5 D821', 'LG K10 TV', 'Motorola Moto E2 3G Dual',
       'Samsung Galaxy J2 4G Duos TV', 'LG K10',
       'Motorola Moto G4 Play DTV', 'Samsung Galaxy A7', 'Quantum GO 4G',
       'iPad Air 2 Wi-Fi + 4G', 'LG G4 Stylus H630',
       'Samsung Galaxy J5 2016 Metal', 'LG G3 Beat D724',
       'Samsung Galaxy Win Duos', 'Samsung Gear S2',
       'Sony Xperia Z3 Plus', 'Samsung Galaxy S4 i9505', 'Lenovo Vibe K5',
       'iPhone X', 'LG G4 Beat H736', 'Samsung Galaxy S5 Duos',
       'iPhone 8 Plus', 'Samsung Galaxy A7 2016', 'LG G3 Stylus D690',
       'Samsung Galaxy E5 4G Duos', 'LG G3 D855',
       'Samsung Galaxy Grand Duos i9082', 'Samsung Galaxy J1 2016',
       'Samsung Galaxy J7 2016 Metal', 'Samsung Galaxy J7 Neo',
       'Samsung Galaxy S5 New Edition', 'Samsung Galaxy J2 4G Duos ',
       'Samsung Galaxy E7', 'Samsung Galaxy Gran 2 Duos TV',
       'Samsung Galaxy Win 2 Duos TV', 'Samsung Galaxy Note 3 Neo Duos',
       'LG Prime Plus H522', 'Sony Xperia Z3 ', 'Sony Xperia Z5 Premium',
       'Samsung Galaxy Note 2 N7100', 'Samsung Galaxy Note Edge',
       'iPad Mini 3 Wi-Fi + 4G', 'Samsung Galaxy Tab 3 10.1 Wi-Fi + 3G',
       'Samsung Galaxy S3 Duos', 'LG G4 H815P', 'Samsung Galaxy A3 Duos',
       'LG L Prime D337', 'iPad 3 Wi-Fi', 'Samsung Galaxy S5 Mini',
       'iPad Mini 4 Wi-Fi', 'Samsung Galaxy Tab S2 8 Wi-Fi + 4G',
       'Samsung Galaxy J7 PRO', 'LG  X Screen',
       'Samsung Galaxy S4 Mini Duos', 'Asus Zenfone 3 Max 16 GB',
       'Samsung Galaxy S3 Slim Duos', 'Quantum Muv Pro',
       'Samsung Galaxy Tab E 7 Wi-Fi', 'Quantum Muv',
       'Samsung Gear Fit 2 Pequeno', 'iPad Mini Wi-Fi',
       'iPad Air Wi-Fi + 4G', 'LG X Power', 'iPad 2 Wi-Fi + 3G',
       'iPad Mini 3 Wi-Fi', 'Samsung Galaxy S4 i9500',
       'Samsung Galaxy S4 Mini', 'Samsung Galaxy Tab S 10.5 Wi-Fi + 4G',
       'Motorola Moto Z Power Edition',
       'Samsung Galaxy Tab 4  10.1 Wi-Fi + 3G',
       'Samsung Galaxy Tab A 2016 10.1  W-Fi + 4G', 'iPad 4 Wi-Fi',
       'Asus Zenfone 3 Max  32 GB', 'Samsung Galaxy Tab S 8.4 Wi-Fi + 4G',
       'Samsung Galaxy Tab A com S Pen 8 Wi-Fi + 4G',
       'LG G4 Stylus HDTV H540T', 'LG K8', 'iPad 4 Wi-Fi + 4G', 'LG K4',
       'Motorola Moto G5S', 'Samsung Galaxy Tab Pro 10.1 Wi-Fi',
       'Samsung Gear Fit 2 Grande', 'LG L80 Dual', 'Asus Zenfone Selfie',
       'Motorola Moto Z2 Force', 'Quantum YOU',
       'Samsung Galaxy Gran Neo Plus Duos', 'Asus Zenfone 6',
       'iPad Mini 2 Wi-Fi', 'Samsung Galaxy Gran Prime Duos',
       'Asus Zenfone 5', 'Samsung Gear S3 Frontier',
       'Samsung Galaxy Tab S2 9.7 Wi-Fi + 4G', 'Samsung Galaxy Mega Duos',
       'Samsung Galaxy Tab E 9.6 Wi-Fi', 'iPad Mini 2 Wi-Fi + 4G',
       'iPad 3 Wi-Fi + 4G', 'Asus Zenfone 2 Deluxe',
       'Motorola Moto G1 4G', 'Samsung Gear S3 Classic', 'Quantum Muv Up',
       'Samsung Galaxy Tab E 9.6 Wi-Fi + 3G', 'iPad 2 Wi-Fi',
       'Asus Zenfone 2', 'Samsung Galaxy Tab E 7 Wi-Fi + 3G',
       'Asus Zenfone Go', 'Asus Zenfone 2 Laser', 'Asus Live',
       'Asus Zenfone 2 Laser 6"', 'Quantum GO 3G',
       'Samsung Galaxy S3 Neo Duos i9300i',
       'Samsung Galaxy Pocket 2 Duos', 'Samsung Galaxy Young 2 Duos TV',
       'iPad Mini 4 Wi-Fi + 4G', 'Motorola Moto E1',
       'Samsung Galaxy Tab S 10.5 Wi-Fi',
       'Samsung Galaxy Tab 4 10.1 Wi-Fi', 'Sony Xperia Z ULTRA',
       'Motorola Moto G1 3G', 'Xiaomi Redmi 2', 'LG G2 Mini D618',
       'LG Nexus 4', 'Outros TV LED 15', 'Motorola Moto E4 Plus',
       'Samsung Galaxy S Duos 2'], dtype=object)

In [9]:
events_df.model.str.lower()

0             samsung galaxy j7 prime
1                           iphone 5s
2                           iphone 6s
3                            iphone 7
4                         lg g4 h818p
5                                 NaN
6                            iphone 6
7                       iphone 6 plus
8               motorola moto g5 plus
9                                 NaN
10              motorola moto g5 plus
11              motorola moto g4 plus
12                     ipad air wi-fi
13                     ipad air wi-fi
14                                NaN
15             samsung galaxy s6 flat
16             samsung galaxy s6 flat
17             samsung galaxy s8 plus
18                                NaN
19                  samsung galaxy s5
20                                NaN
21              motorola moto g4 plus
22                          iphone 5s
23                          iphone se
24             samsung galaxy s8 plus
25                                NaN
26                  samsung galaxy s7
27                  samsung galaxy s7
28                   motorola moto x2
29                                NaN
                      ...
2341651         motorola moto z2 play
2341652        samsung galaxy s5 mini
2341653          ipad mini wi-fi + 4g
2341654                iphone 6s plus
2341655                 iphone 7 plus
2341656     samsung gear fit 2 grande
2341657        sony xperia z3 compact
2341658                   lg k10 novo
2341659                   lg k10 novo
2341660                  lg  x screen
2341661                     iphone 6s
2341662         samsung galaxy j5 pro
2341663        motorola moto g5s plus
2341664                      iphone 8
2341665                     lg k10 tv
2341666                  lg  x screen
2341667                   lg k10 novo
2341668                     iphone 6s
2341669                     lg k10 tv
2341670    samsung galaxy a9 pro 2016
2341671                     lg k10 tv
2341672                     lg k10 tv
2341673                      iphone 6
2341674                iphone 6s plus
2341675        motorola moto g5s plus
2341676         motorola moto z2 play
2341677      asus zenfone 3 max 16 gb
2341678         motorola moto z2 play
2341679           samsung galaxy on 7
2341680       samsung galaxy s duos 2
Name: model, Length: 2341681, dtype: object

In [10]:
#Samsung
events_df['samsung'] = events_df.model.str.contains('samsung')

In [11]:
#Motorola
events_df['motorola'] = events_df.model.str.contains('motorola')

In [12]:
#iphone
events_df['iphone'] = events_df.model.str.contains('iphone')

In [13]:
#asus
events_df['asus'] = events_df.model.str.contains('asus')

In [14]:
#lg
events_df['lg'] = events_df.model.str.contains('lg')

In [15]:
#sony
events_df['sony'] = events_df.model.str.contains('sony')

In [16]:
events_df.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,weekday_sin,weekday_cos,hour_sin,hour_cos,samsung,motorola,iphone,asus,lg,sony
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,0.0,1.0,0.0,1.0,False,False,False,False,False,False
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,0.0,1.0,0.0,1.0,False,False,False,False,False,False
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,0.0,1.0,0.0,1.0,False,False,False,False,False,False
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,0.0,1.0,0.0,1.0,False,False,False,False,False,False
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,0.0,1.0,0.0,1.0,False,False,False,False,False,False

## Al URL lo separo en comprar y vender, y despues agrego marca

In [51]:
events_df.url.value_counts()

/                                                      64187
/comprar/iphone                                         7923
/comprar/iphone/6s                                      7068
/comprar/iphone/6                                       7063
/comprar/samsung                                        6590
/comprar/iphone/iphone-5s                               6506
/comprar/samsung/galaxy-j5                              5112
/comprar/samsung/galaxy-s7-edge                         4195
/comprar/samsung/galaxy-s6-edge                         3996
/comprar/motorola                                       3143
/comprar/samsung/galaxy-j7                              3035
/comprar/samsung/galaxy-s8                              2947
/comprar/samsung/galaxy-s6-flat                         2717
/comprar/samsung/galaxy-s7                              2482
/comprar/iphone/iphone-6s-plus                          2428
/comprar/samsung/samsung-gran-prime-duos-tv             2375
/comprar/samsung/galaxy-s8-plus                         2107
/comprar/iphone/7                                       2087
/comprar/iphone/iphone-se                               2054
/comprar/samsung/a5                                     2046
/comprar/motorola/moto-g-2a-geracao                     2001
/comprar/samsung/galaxy-j7-prime                        1913
/comprar/iphone/iphone-5c                               1789
/comprar/samsung/                                       1762
/comprar/iphone/7-plus                                  1414
/comprar/samsung/galaxy-s6-edge-plus                    1365
/comprar/iphone/iphone-5                                1324
/comprar/samsung/galaxy-s5                              1264
/comprar/iphone/iphone-4s                               1112
/comprar/iphone/6-plus                                  1022
                                                       ...
/comprar/lg/lg-g4-stylus-hdtv-h540t                        3
/comprar/apple/iphone-7                                    2
/comprar/asus/asus-live                                    2
/comprar/motorola/moto-x-1a-geracao                        2
/vender/lg/g3-d855                                         2
/comprar/asus/zenfone-3-max-32gb                           2
/vender/motorola/moto-e-2a-geracao-4g-dual                 2
/comprar/ipad/3-wi-fi-4g                                   2
/comprar/samsung/gran-prime-duos                           2
/comprar/ipad/ipad-mini-3-wi-fi-4g                         2
/comprar/ipad/ipad-mini-2-wi-fi                            2
/vender/lg/lg-l80-dual                                     2
/comprar/lg/lg-g2-mini-d618-dual                           2
/comprar/motorola/razr-hd/                                 2
/comprar/samsung/galaxy-note-n7000                         1
/comprar/lg/lg-g2-mini-d618                                1
/vender/lg/optimus-l7-ii                                   1
/comprar/samsung/galaxy-young-2-duos-tv                    1
/comprar/motorola/moto-e-1a-geracao                        1
/comprar/quantum/muv-up                                    1
/comprar/ipad/ipad-mini-2-wi-fi-4g                         1
/comprar/samsung/galaxy-s4-mini-duos/                      1
/comprar/samsung/samsung-galaxy-s-3-neo-duos-i9300i        1
/comprar/motorola/razr-d3                                  1
/comprar/motorola/razr-hd                                  1
/comprar/samsung/galaxy-win-duos/                          1
/comprar/sony/xperia-z-ultra/                              1
/vender                                                    1
/comprar/lg/nexus-4                                        1
/comprar/iphone/iphone-5/                                  1
Name: url, Length: 248, dtype: int64

In [17]:
events_df['url_comprar'] = events_df.url.str.contains('comprar')

In [18]:
events_df['url_vender'] = events_df.url.str.contains('vender')

** A los que buscan vender les deberia poner un peso menor

## A los skus les hago ohe?

In [55]:
events_df.columns

Index(['timestamp', 'event', 'person', 'url', 'sku', 'model', 'condition',
       'storage', 'color', 'skus', 'search_term', 'staticpage',
       'campaign_source', 'search_engine', 'channel', 'new_vs_returning',
       'city', 'region', 'country', 'device_type', 'screen_resolution',
       'operating_system_version', 'browser_version', 'mes', 'dia', 'q1', 'q2',
       'q3', 'q4', 'q5', 'q6', 'q7', 'q8', 'q9', 'q10',
       'support_p_todos_sus_ev', 'year', 'month_sin', 'month_cos', 'day_sin',
       'day_cos', 'weekday_sin', 'weekday_cos', 'hour_sin', 'hour_cos',
       'samsung', 'motorola', 'iphone', 'asus', 'lg', 'sony', 'url_comprar',
       'url_vender'],
      dtype='object')

A timestamp lo saco, event como condition, person?, sku queda igual, storage como mati, search_term por marca, memoria?, staticpage como condition, campaing_source segun el motor de busqueda, search_engine? ,

In [57]:
events_df.staticpage.value_counts()

CustomerService                      5239
FaqEcommerce                         1317
AboutUs                              1217
Quiosks                               868
trust-trocafone                       632
TermsAndConditionsReturnEcommerce     528
galaxy-s8                             380
Conditions                            285
how-to-sell                           234
how-to-buy                            232
TermsAndConditionsEcommerce           119
club-trocafone                        107
PrivacyEcommerce                       28
black_friday                           15
Name: staticpage, dtype: int64

In [58]:
#events_df.to_csv('ev_con_cond.csv', index=False)

In [24]:
events_df.url_vender.fillna(False, inplace=True)

In [25]:
events_df.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,hour_sin,hour_cos,samsung,motorola,iphone,asus,lg,sony,url_comprar,url_vender
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,9288.0,Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,0.0,1.0,False,False,False,False,False,False,False,False
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.0,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,0.0,1.0,False,False,False,False,False,False,False,False
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,6888.0,iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,0.0,1.0,False,False,False,False,False,False,False,False
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,11890.0,iPhone 7,Bom,128GB,Vermelho,NaN,...,0.0,1.0,False,False,False,False,False,False,False,False
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,7517.0,LG G4 H818P,Excelente,32GB,Branco,NaN,...,0.0,1.0,False,False,False,False,False,False,False,False

In [27]:
events_df.columns

Index(['timestamp', 'event', 'person', 'url', 'sku', 'model', 'condition',
       'storage', 'color', 'skus', 'search_term', 'staticpage',
       'campaign_source', 'search_engine', 'channel', 'new_vs_returning',
       'city', 'region', 'country', 'device_type', 'screen_resolution',
       'operating_system_version', 'browser_version', 'mes', 'dia', 'q1', 'q2',
       'q3', 'q4', 'q5', 'q6', 'q7', 'q8', 'q9', 'q10',
       'support_p_todos_sus_ev', 'support_con_peso', 'year', 'month_sin',
       'month_cos', 'day_sin', 'day_cos', 'weekday_sin', 'weekday_cos',
       'hour_sin', 'hour_cos', 'samsung', 'motorola', 'iphone', 'asus', 'lg',
       'sony', 'url_comprar', 'url_vender'],
      dtype='object')

In [11]:
events_df.to_csv('9_11_mas_supports.csv', index=False)