In [1]:
import pandas as pd
import numpy as np

In [2]:
#Leo el csv de eventos

events_df = pd.read_csv("/home/miki_mustard/Desktop/Facultad/Datos/TP2/fiuba-trocafone-tp2-final-set/events_up_to_01062018.csv", low_memory=False)

## Generacion de features

In [7]:
features_df = pd.DataFrame()

In [8]:
features_df['person'] = events_df.person.unique()

In [9]:
features_df.head()

     person
0  4886f805
1  ad93850f
2  0297fc1e
3  2d681dd8
4  cccea85e

## Cantidad de eventos totales por usuario

In [29]:
df = events_df.groupby('person').event.count()

In [30]:
features_df = features_df.join(df, on='person')

In [31]:
features_df.rename(columns={'event':'cant_eventos_totales'}, inplace=True)

## Cantidad de cada evento por usuario

In [46]:
df = events_df.groupby('person').event.value_counts()

In [47]:
df = df.unstack()
df.head()

event,ad campaign hit,brand listing,checkout,conversion,generic listing,lead,search engine hit,searched products,staticpage,viewed product,visited site
person,,,,,,,,,,,
0008ed71,NaN,NaN,3.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2.0
00091926,15.0,25.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,372.0,34.0
00091a7a,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1.0
000ba417,1.0,24.0,6.0,1.0,14.0,NaN,1.0,NaN,NaN,153.0,6.0
000c79fe,1.0,NaN,1.0,NaN,1.0,NaN,1.0,9.0,NaN,3.0,1.0

In [48]:
df = df.drop(columns=['lead'])

In [49]:
df['ach*bl'] = (df['ad campaign hit'])*(df['brand listing'])
df['ach*gl'] = (df['ad campaign hit'])*(df['generic listing'])
df['ach*seh'] = (df['ad campaign hit'])*(df['search engine hit'])
df['ach*sp'] = (df['ad campaign hit'])*(df['searched products'])
df['ach*vp'] = (df['ad campaign hit'])*(df['viewed product'])
df['ach*vs'] = (df['ad campaign hit'])*(df['visited site'])

In [50]:
features_df = features_df.join(df, on='person')

In [51]:
features_df.rename(columns={'ad campaign hit':'cant_ach', 'brand listing':'cant_bl', 'checkout':'cant_ch', 
                            'conversion':'cant_cv', 'generic listing':'cant_gl', 'lead':'cant_l',
                           'search engine hit':'cant_seh', 'searched products':'cant_s_p', 
                            'staticpage':'cant_sp', 'viewed product':'cant_vp', 'visited site':'cant_vs'}, inplace=True)

## cantidad de returnings

In [ ]:
df = events_df.groupby('person').new_vs_returning.value_counts().unstack().drop(columns=['New'])

In [ ]:
features_df = features_df.join(df, on='person')

## Quincenas

In [3]:
events_df['timestamp'] = pd.to_datetime(events_df['timestamp'])
events_df['mes'] = events_df['timestamp'].dt.month
events_df['dia'] = events_df['timestamp'].dt.day

In [4]:
events_df['q1'] = ((events_df['mes']==1) & (events_df['dia']>1) & (events_df['dia']<16))
events_df['q2'] = ((events_df['mes']==1) & (events_df['dia']>15) & (events_df['dia']<32))
events_df['q3'] = ((events_df['mes']==2) & (events_df['dia']>1) & (events_df['dia']<16))
events_df['q4'] = ((events_df['mes']==2) & (events_df['dia']>15) & (events_df['dia']<29))
events_df['q5'] = ((events_df['mes']==3) & (events_df['dia']>1) & (events_df['dia']<16))
events_df['q6'] = ((events_df['mes']==3) & (events_df['dia']>15) & (events_df['dia']<32))
events_df['q7'] = ((events_df['mes']==4) & (events_df['dia']>1) & (events_df['dia']<16))
events_df['q8'] = ((events_df['mes']==4) & (events_df['dia']>15) & (events_df['dia']<31))
events_df['q9'] = ((events_df['mes']==5) & (events_df['dia']>1) & (events_df['dia']<16))
events_df['q10'] = ((events_df['mes']==5) & (events_df['dia']>15) & (events_df['dia']<32))

In [5]:
df = events_df[['person', 'q1','q2','q3','q4','q5','q6','q7','q8','q9','q10']].groupby('person').agg(lambda x: x.any())
df.head()

             q1     q2     q3     q4     q5     q6     q7     q8     q9    q10
person
0008ed71  False  False  False  False  False  False  False  False  False   True
00091926  False  False  False  False  False  False  False  False   True   True
00091a7a  False  False  False  False  False   True  False  False  False  False
000ba417  False  False  False  False  False  False  False  False  False   True
000c79fe  False  False  False  False  False  False  False  False  False   True

In [10]:
features_df = features_df.join(df, on='person')

## Es de Brasil o no (Agregarlo con los ev baja)

In [ ]:
df = events_df.groupby('person').country.value_counts().unstack()
df = df.Brazil.fillna(0)

In [ ]:
features_df = features_df.join(df, on='person')

## Tiempo total

In [ ]:
events_df['timestamp'] = pd.to_datetime(events_df['timestamp'])

In [ ]:
df = (events_df.groupby('person').timestamp.agg('max') - events_df.groupby('person').timestamp.agg('min'))
df.head()

In [ ]:
features_df = features_df.join(df, on='person')

In [ ]:
features_df = features_df.rename(columns={'timestamp':'tiempo_total'})

In [ ]:
features_df[['person', 'tiempo_total']].head()

In [ ]:
features_df.tiempo_total = pd.to_numeric(features_df.tiempo_total, downcast='float')
features_df.tiempo_total.head()

## Support para color (Al agregarlo baja)

In [ ]:
ct = pd.crosstab(events_df.person, events_df.color)
ct = ct.astype('bool')

In [ ]:
from mlxtend.frequent_patterns import apriori 
frequent_itemsets = apriori(ct, min_support=0.01, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets.head()

In [ ]:
def columna_por_persona(crosstab):
    diccionario = {}
    for person in crosstab.index :
        #print(person)
        lista_value = list()
        for value in crosstab.columns :
            if crosstab.loc[person, value] > 0 :
                lista_value.append(value)
        values = frozenset(lista_value)        
        diccionario[person] = values                
    return diccionario

In [ ]:
result = columna_por_persona(ct)

In [ ]:
#Algoritmo para asignarle el support a la persona segun sus eventos(Toma todos los ev realizados por la persona)
#Result es lo que devuelve storage por persona
def asignar_support(result, frequent_itemsets):
    lista_support = list()
    for value in result.values() :
        #print(value)
        support_value = obtener_support(value, frequent_itemsets)
        #print(support_value)
        lista_support.append(support_value)
    return lista_support

In [ ]:
def obtener_support(nupla, frequent_itemsets):
    if( len(frequent_itemsets.loc[ frequent_itemsets['itemsets']==nupla ].support.values) == 0 ):
        return 0;
    support_value = frequent_itemsets.loc[ frequent_itemsets['itemsets']==nupla ].support.values[0]
    return support_value

In [ ]:
lista_support = asignar_support(result, frequent_itemsets)
len(lista_support)

In [ ]:
def lista_personas_f(result):
    lista_personas = list()
    for key in result.keys():
        lista_personas.append(key)
    return lista_personas

In [ ]:
lista_personas = lista_personas_f(result)
len(lista_personas)

In [ ]:
d = {'person': lista_personas, 'color_support': lista_support}
df = pd.DataFrame(data=d)

In [ ]:
features_df = features_df.join(df.set_index('person'), on='person', how='left')
features_df.head(3)

## Labels y separacion de df

In [11]:
labels_df = pd.read_csv("/home/miki_mustard/Desktop/Facultad/Datos/TP2/fiuba-trocafone-tp2-final-set/labels_training_set.csv", low_memory=False)

In [52]:
#Separo en train y to_predict
train_df = features_df.merge(labels_df, on='person', how='right')
train_df.shape

(19414, 29)

In [53]:
to_predict = features_df[~features_df.person.isin(labels_df.person)]
to_predict.shape

(19415, 28)

In [54]:
# Labels: los valores a predecir
#labels = np.array(train_df.label)
labels = train_df.label

#remuevo el label del df
train_df = train_df.drop(columns=['label'])

In [55]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split

#Separo en test y train
X_train, X_test, y_train, y_test = \
    train_test_split(train_df.drop(columns=['person']) , labels, test_size=0.2, random_state=123)

In [56]:
X_train.reset_index(inplace=True)
X_train.drop(columns='index', inplace=True)
X_test.reset_index(inplace=True)
X_test.drop(columns='index', inplace=True)
y_train = pd.DataFrame(y_train)

y_train.reset_index(inplace=True)
y_train.drop(columns='index', inplace=True)
y_test = pd.DataFrame(y_test)
y_test.reset_index(inplace=True)
y_test.drop(columns='index', inplace=True)

to_predict = pd.DataFrame(to_predict)
to_predict.reset_index(inplace=True)
to_predict.drop(columns='index', inplace=True)

## XGBoost

In [17]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
from datetime import datetime
from xgboost import XGBRegressor
import xgboost as xgb
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import StratifiedKFold

In [18]:
def timer(start_time=None):
    if not start_time:
        start_time = datetime.now()
        return start_time
    elif start_time:
        thour, temp_sec = divmod((datetime.now() - start_time).total_seconds(), 3600)
        tmin, tsec = divmod(temp_sec, 60)
        print('\n Time taken: %i hours %i minutes and %s seconds.' % (thour, tmin, round(tsec, 2)))

In [19]:
# A parameter grid for XGBoost
params = {
        'min_child_weight': [1, 5, 10],
        'gamma': [0.5, 1, 1.5, 2, 5, 10],
        'colsample_bytree': [0.1, 0.2, 0.3, 0.5],
        'colsample_bylevel': [0.7, 0.8, 0.9],
        'max_depth': [3, 4, 5, 7, 8, 9, 11, 13, 15],
        'base_score': [0.1, 0.2, 0.3],
        'n_estimators': [35, 40, 50, 60, 70, 80, 90]
        }

In [57]:
#Parametros con los que obtuvimos 0.82

xg_reg = xgb.XGBRegressor(objective ='binary:logistic',base_score= 0.1, 
                          colsample_bylevel= 0.9, booster='dart', 
                colsample_bytree = 0.5, learning_rate = 0.2,
                max_depth = 8, alpha = 20, gamma=10, n_estimators = 35, eval_metric='auc')

In [58]:
xg_gs = xgb.XGBRegressor(objective ='binary:logistic', booster='dart', 
                        learning_rate = 0.2,
                        alpha = 20, eval_metric='auc')

In [59]:
folds = 7
param_comb = 5

skf = StratifiedKFold(n_splits=folds, shuffle = True, random_state = 1001)

random_search = RandomizedSearchCV(xg_gs, param_distributions=params, n_iter=param_comb, scoring='roc_auc', n_jobs=4, cv=skf.split(X_train,y_train), verbose=3, random_state=1001 )

# Here we go
start_time = timer(None) # timing starts from this point for "start_time" variable
random_search.fit(X_train, y_train)
timer(start_time) # timing ends here for "start_time" variable

Fitting 7 folds for each of 5 candidates, totalling 35 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  24 tasks      | elapsed:   16.2s
[Parallel(n_jobs=4)]: Done  35 out of  35 | elapsed:   20.1s finished

 Time taken: 0 hours 0 minutes and 21.64 seconds.

In [60]:
print('\n All results:')
print(random_search.cv_results_)
print('\n Best estimator:')
print(random_search.best_estimator_)

print('\n Best hyperparameters:')
print(random_search.best_params_)
results = pd.DataFrame(random_search.cv_results_)
results.to_csv('xgb-random-grid-search-results-01.csv', index=False)

 All results:
{'mean_fit_time': array([1.56682767, 2.28059227, 3.84587959, 1.5549703 , 1.33847107]), 'std_fit_time': array([0.03619692, 0.04772786, 0.02445178, 0.02678946, 0.16583919]), 'mean_score_time': array([0.01830585, 0.01310693, 0.02592359, 0.01774311, 0.01184583]), 'std_score_time': array([0.0008406 , 0.00043011, 0.00082105, 0.00020884, 0.00246696]), 'param_n_estimators': masked_array(data=[50, 80, 70, 50, 90],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_min_child_weight': masked_array(data=[5, 10, 1, 5, 10],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_max_depth': masked_array(data=[8, 7, 9, 7, 4],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_gamma': masked_array(data=[1.5, 10, 0.5, 1.5, 10],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_colsample_bytree': masked_array(data=[0.2, 0.5, 0.2, 0.2, 0.2],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_colsample_bylevel': masked_array(data=[0.7, 0.9, 0.8, 0.8, 0.7],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_base_score': masked_array(data=[0.2, 0.1, 0.3, 0.1, 0.3],
             mask=[False, False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'n_estimators': 50, 'min_child_weight': 5, 'max_depth': 8, 'gamma': 1.5, 'colsample_bytree': 0.2, 'colsample_bylevel': 0.7, 'base_score': 0.2}, {'n_estimators': 80, 'min_child_weight': 10, 'max_depth': 7, 'gamma': 10, 'colsample_bytree': 0.5, 'colsample_bylevel': 0.9, 'base_score': 0.1}, {'n_estimators': 70, 'min_child_weight': 1, 'max_depth': 9, 'gamma': 0.5, 'colsample_bytree': 0.2, 'colsample_bylevel': 0.8, 'base_score': 0.3}, {'n_estimators': 50, 'min_child_weight': 5, 'max_depth': 7, 'gamma': 1.5, 'colsample_bytree': 0.2, 'colsample_bylevel': 0.8, 'base_score': 0.1}, {'n_estimators': 90, 'min_child_weight': 10, 'max_depth': 4, 'gamma': 10, 'colsample_bytree': 0.2, 'colsample_bylevel': 0.7, 'base_score': 0.3}], 'split0_test_score': array([0.83216081, 0.84251639, 0.7951888 , 0.83824085, 0.84689353]), 'split1_test_score': array([0.81635108, 0.8480437 , 0.7977208 , 0.83144145, 0.85297763]), 'split2_test_score': array([0.7968358 , 0.82489301, 0.77360544, 0.79783601, 0.82357306]), 'split3_test_score': array([0.78646363, 0.81441935, 0.76819696, 0.79493873, 0.81274197]), 'split4_test_score': array([0.81115686, 0.82453082, 0.77121133, 0.79524017, 0.82501887]), 'split5_test_score': array([0.83960883, 0.86271285, 0.79700573, 0.83976467, 0.85691173]), 'split6_test_score': array([0.83721989, 0.85696914, 0.80409667, 0.83253224, 0.84588569]), 'mean_test_score': array([0.81711438, 0.8391557 , 0.78671962, 0.81857344, 0.83771688]), 'std_test_score': array([0.01898484, 0.01686619, 0.01391767, 0.01974554, 0.01575311]), 'rank_test_score': array([4, 1, 5, 3, 2], dtype=int32), 'split0_train_score': array([0.9241061 , 0.86765894, 0.98095845, 0.92311343, 0.85421001]), 'split1_train_score': array([0.92623122, 0.86755686, 0.97921692, 0.92239453, 0.85260433]), 'split2_train_score': array([0.9280977 , 0.8725327 , 0.98117308, 0.92649081, 0.85721123]), 'split3_train_score': array([0.93058742, 0.8736095 , 0.97972725, 0.92543704, 0.8567806 ]), 'split4_train_score': array([0.92369229, 0.87217513, 0.97952817, 0.92824661, 0.8539833 ]), 'split5_train_score': array([0.92693557, 0.86771553, 0.97954066, 0.92464166, 0.84782045]), 'split6_train_score': array([0.92599687, 0.86898664, 0.97941852, 0.92392374, 0.85208824]), 'mean_train_score': array([0.92652103, 0.87003361, 0.97993758, 0.92489255, 0.85352831]), 'std_train_score': array([0.00218389, 0.00244545, 0.00072966, 0.00187111, 0.0029355 ])}

 Best estimator:
XGBRegressor(alpha=20, base_score=0.1, booster='dart', colsample_bylevel=0.9,
       colsample_bytree=0.5, eval_metric='auc', gamma=10,
       learning_rate=0.2, max_delta_step=0, max_depth=7,
       min_child_weight=10, missing=None, n_estimators=80, n_jobs=1,
       nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

 Best hyperparameters:
{'n_estimators': 80, 'min_child_weight': 10, 'max_depth': 7, 'gamma': 10, 'colsample_bytree': 0.5, 'colsample_bylevel': 0.9, 'base_score': 0.1}

In [61]:
preds_grid_search = random_search.predict(X_test)

In [62]:
roc_auc_score(y_test, preds_grid_search)

0.8333195574874153

In [63]:
xg_reg.fit(X_train,y_train)

XGBRegressor(alpha=20, base_score=0.1, booster='dart', colsample_bylevel=0.9,
       colsample_bytree=0.5, eval_metric='auc', gamma=10,
       learning_rate=0.2, max_delta_step=0, max_depth=8,
       min_child_weight=1, missing=None, n_estimators=35, n_jobs=1,
       nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [64]:
preds = xg_reg.predict(X_test)

In [65]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,preds)

0.8378007591301444

## Prediccion

In [66]:
preds_posta = random_search.predict(to_predict.drop(columns=['person']))

In [67]:
preds_posta

array([0.00763228, 0.0412041 , 0.01303407, ..., 0.11342979, 0.09753206,
       0.09753206], dtype=float32)

In [68]:
preds_posta_sin_g_s = xg_reg.predict(to_predict.drop(columns=['person']))

In [69]:
preds_posta_sin_g_s

array([0.00779786, 0.06338392, 0.01404292, ..., 0.10694186, 0.10471164,
       0.10471164], dtype=float32)

## Genero csv a publicar

In [70]:
to_publish = pd.DataFrame()

In [71]:
to_publish['person'] = to_predict.person
to_publish.shape

(19415, 1)

In [72]:
to_publish['label'] = preds_posta_sin_g_s
to_publish.shape

(19415, 2)

In [73]:
to_publish.head()

     person     label
0  4886f805  0.007798
1  0297fc1e  0.063384
2  2d681dd8  0.014043
3  cccea85e  0.032086
4  4c8a8b93  0.045858

In [74]:
to_publish.loc[ to_publish.label > 1 ]

Empty DataFrame
Columns: [person, label]
Index: []

In [75]:
to_publish.loc[ to_publish.label < 0 ]

Empty DataFrame
Columns: [person, label]
Index: []

In [76]:
to_publish.to_csv('29_11_3.csv', index=False)