In [1]:
import pandas as pd
import numpy as np

In [2]:
#Leo el csv de eventos

events_df = pd.read_csv("/home/miki_mustard/Desktop/Facultad/Datos/TP2/fiuba-trocafone-tp2-final-set/events_up_to_01062018.csv", low_memory=False)

In [ ]:
events_df.columns

## Generacion de features

In [3]:
features_df = pd.DataFrame()

In [4]:
features_df['person'] = events_df.person.unique()

In [5]:
features_df.head()

     person
0  4886f805
1  ad93850f
2  0297fc1e
3  2d681dd8
4  cccea85e

In [6]:
features_df.shape

(38829, 1)

## Agrego algunos features de Mati para acoplar

In [19]:
df = events_df.groupby('person')['staticpage'].value_counts(normalize=True).unstack()

In [26]:
ct = pd.crosstab(events_df.person, events_df.staticpage, normalize=True)

In [28]:
ct.head()

staticpage,AboutUs,Conditions,CustomerService,FaqEcommerce,PrivacyEcommerce,Quiosks,TermsAndConditionsEcommerce,TermsAndConditionsReturnEcommerce,black_friday,club-trocafone,galaxy-s8,how-to-buy,how-to-sell,trust-trocafone
person,,,,,,,,,,,,,,
0027574e,0.0,0.000089,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
002ed810,0.0,0.000000,0.000179,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
0038a117,0.0,0.000000,0.000625,0.000000,0.0,0.000446,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
004ed8ba,0.0,0.000000,0.000000,0.000089,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
00546f4c,0.0,0.000000,0.000089,0.000089,0.0,0.000000,0.0,0.0,0.0,0.0,0.000357,0.0,0.0,0.0

In [30]:
ct.shape

(4054, 14)

In [33]:
features_df = features_df.join(ct, on='person', how='left')

In [61]:
events_df.columns

Index(['timestamp', 'event', 'person', 'url', 'sku', 'model', 'condition',
       'storage', 'color', 'skus', 'search_term', 'staticpage',
       'campaign_source', 'search_engine', 'channel', 'new_vs_returning',
       'city', 'region', 'country', 'device_type', 'screen_resolution',
       'operating_system_version', 'browser_version', 'mes', 'dia', 'q1', 'q2',
       'q3', 'q4', 'q5', 'q6', 'q7', 'q8', 'q9', 'q10'],
      dtype='object')

In [62]:
#Campaign source

ct = pd.crosstab(events_df.person, events_df.campaign_source, normalize=True)
ct.head()

campaign_source,Facebook,FacebookAds,FacebookSocial,MARKETING SOCIAL,afiliado,afilio,bing,blog,buscape,criteo,...,google,indexa,manifest,mercadopago,onsite,rakuten,rtbhouse,voxus,yotpo,zanox
person,,,,,,,,,,,,,,,,,,,,,
00091926,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000005,...,0.000068,0.0,0.0,0.0,0.0,0.00000,0.000005,0.0,0.0,0.000000
00091a7a,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.000005,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.0,0.000000
000ba417,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.000005,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.0,0.000000
000c79fe,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.000005,0.0,0.0,0.0,0.0,0.00000,0.000000,0.0,0.0,0.000000
000e4d9e,0.0,0.0,0.0,0.0,0.0,0.000021,0.0,0.0,0.0,0.000000,...,0.000021,0.0,0.0,0.0,0.0,0.00001,0.000000,0.0,0.0,0.000047

In [63]:
features_df = features_df.join(ct, on='person', how='left')

In [ ]:
#Search engine

events_df = events_df.merge(events_df.groupby('person')['search_engine'].value_counts(normalize=True).unstack(fill_value=0).add_prefix('search_engine_').reset_index(),
                          on='person', how='left')

## Cantidad de eventos totales por usuario

In [34]:
df = events_df.groupby('person').event.count()

In [35]:
features_df = features_df.join(df, on='person')

In [36]:
features_df.rename(columns={'event':'cant_eventos_totales'}, inplace=True)

## Cantidad de cada evento por usuario

In [ ]:
df = events_df.groupby('person').event.value_counts()

In [ ]:
df = df.unstack()
df.head()

In [ ]:
df = df.drop(columns=['lead'])

In [ ]:
df['ach*bl'] = (df['ad campaign hit'])*(df['brand listing'])
df['ach*gl'] = (df['ad campaign hit'])*(df['generic listing'])
df['ach*seh'] = (df['ad campaign hit'])*(df['search engine hit'])
df['ach*sp'] = (df['ad campaign hit'])*(df['searched products'])
df['ach*vp'] = (df['ad campaign hit'])*(df['viewed product'])
df['ach*vs'] = (df['ad campaign hit'])*(df['visited site'])

In [ ]:
features_df = features_df.join(df, on='person')

In [ ]:
features_df.rename(columns={'ad campaign hit':'cant_ach', 'brand listing':'cant_bl', 'checkout':'cant_ch', 
                            'conversion':'cant_cv', 'generic listing':'cant_gl', 'lead':'cant_l',
                           'search engine hit':'cant_seh', 'searched products':'cant_s_p', 
                            'staticpage':'cant_sp', 'viewed product':'cant_vp', 'visited site':'cant_vs'}, inplace=True)

## cantidad de returnings

In [ ]:
df = events_df.groupby('person').new_vs_returning.value_counts().unstack().drop(columns=['New'])

In [ ]:
features_df = features_df.join(df, on='person')

## Quincenas

In [37]:
events_df['timestamp'] = pd.to_datetime(events_df['timestamp'])
events_df['mes'] = events_df['timestamp'].dt.month
events_df['dia'] = events_df['timestamp'].dt.day

In [38]:
events_df['q1'] = ((events_df['mes']==1) & (events_df['dia']>1) & (events_df['dia']<16))
events_df['q2'] = ((events_df['mes']==1) & (events_df['dia']>15) & (events_df['dia']<32))
events_df['q3'] = ((events_df['mes']==2) & (events_df['dia']>1) & (events_df['dia']<16))
events_df['q4'] = ((events_df['mes']==2) & (events_df['dia']>15) & (events_df['dia']<29))
events_df['q5'] = ((events_df['mes']==3) & (events_df['dia']>1) & (events_df['dia']<16))
events_df['q6'] = ((events_df['mes']==3) & (events_df['dia']>15) & (events_df['dia']<32))
events_df['q7'] = ((events_df['mes']==4) & (events_df['dia']>1) & (events_df['dia']<16))
events_df['q8'] = ((events_df['mes']==4) & (events_df['dia']>15) & (events_df['dia']<31))
events_df['q9'] = ((events_df['mes']==5) & (events_df['dia']>1) & (events_df['dia']<16))
events_df['q10'] = ((events_df['mes']==5) & (events_df['dia']>15) & (events_df['dia']<32))

In [39]:
df = events_df[['person', 'q1','q2','q3','q4','q5','q6','q7','q8','q9','q10']].groupby('person').agg(lambda x: x.any())
df.head()

             q1     q2     q3     q4     q5     q6     q7     q8     q9    q10
person
0008ed71  False  False  False  False  False  False  False  False  False   True
00091926  False  False  False  False  False  False  False  False   True   True
00091a7a  False  False  False  False  False   True  False  False  False  False
000ba417  False  False  False  False  False  False  False  False  False   True
000c79fe  False  False  False  False  False  False  False  False  False   True

In [40]:
features_df = features_df.join(df, on='person')

## Dia mas frecuente

In [ ]:
# Los mas frecuentes son martes, miercoles y jueves
events_df['weekday'] = events_df['timestamp'].dt.day_name()

In [ ]:
events_df.head(3)

In [ ]:
df = events_df.groupby('person').weekday.value_counts()

In [ ]:
df.unstack().drop(columns=['Monday', 'Saturday', 'Sunday', 'Friday']).head()

In [ ]:
df = df.unstack().drop(columns=['Monday', 'Saturday', 'Sunday', 'Friday', 'Thursday'])
df.head()

In [ ]:
features_df = features_df.join(df, on='person')

In [ ]:
features_df.head()

## Support para dia

In [ ]:
events_df.head(3)

In [ ]:
ct = pd.crosstab(events_df.person, events_df.weekday)
ct = ct.astype('bool')

In [ ]:
from mlxtend.frequent_patterns import apriori 
frequent_itemsets = apriori(ct, min_support=0.4, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets.head()

In [ ]:
def columna_por_persona(crosstab):
    diccionario = {}
    for person in crosstab.index :
        #print(person)
        lista_value = list()
        for value in crosstab.columns :
            if crosstab.loc[person, value] > 0 :
                lista_value.append(value)
        values = frozenset(lista_value)        
        diccionario[person] = values                
    return diccionario

In [ ]:
result = columna_por_persona(ct)

In [ ]:
#Algoritmo para asignarle el support a la persona segun sus eventos(Toma todos los ev realizados por la persona)
#Result es lo que devuelve storage por persona
def asignar_support(result, frequent_itemsets):
    lista_support = list()
    for value in result.values() :
        #print(value)
        support_value = obtener_support(value, frequent_itemsets)
        #print(support_value)
        lista_support.append(support_value)
    return lista_support

In [ ]:
def obtener_support(nupla, frequent_itemsets):
    if( len(frequent_itemsets.loc[ frequent_itemsets['itemsets']==nupla ].support.values) == 0 ):
        return 0;
    support_value = frequent_itemsets.loc[ frequent_itemsets['itemsets']==nupla ].support.values[0]
    return support_value

In [ ]:
lista_support = asignar_support(result, frequent_itemsets)
len(lista_support)

In [ ]:
def lista_personas_f(result):
    lista_personas = list()
    for key in result.keys():
        lista_personas.append(key)
    return lista_personas

In [ ]:
lista_personas = lista_personas_f(result)
len(lista_personas)

In [ ]:
d = {'person': lista_personas, 'weekday_support': lista_support}
df = pd.DataFrame(data=d)

In [ ]:
features_df = features_df.join(df.set_index('person'), on='person', how='left')
features_df.head(3)

## Es de Brasil o no (Agregarlo con los ev baja)

In [ ]:
def completar_dia_brasil(columna_country, dia, mes):
    columna_dia = list();
    columna_mes = list();
    for value in columna_country:
        if value=='Brazil':
            columna_dia.append(dia)
            columna_mes.append(mes)
        else:
            columna_dia.append(np.nan)
            columna_mes.append(np.nan)
    
    return columna_dia, columna_mes

In [ ]:
columna_dia, columna_mes = completar_dia_brasil(events_df.country, 12, 5)

In [ ]:
events_df['dia_madre'] = columna_dia

In [ ]:
events_df['mes_madre'] = columna_mes

In [ ]:
def completar_ingreso_dia_brasil(columna_country, col_dia, col_mes):
    columna_ingreso = list();
    for i in range(0, len(columna_country)):
        if columna_country[i]=='Brazil':
            if (col_dia[i]>7 and col_dia[i]<13) and col_mes[i]==5:
                    columna_ingreso.append(True)
            else:
                columna_ingreso.append(False)
        else:
            columna_ingreso.append(False)
    
    return columna_ingreso

In [ ]:
columna_ingreso = completar_ingreso_dia_brasil(events_df.country, events_df.dia, events_df.mes)

In [ ]:
len(columna_ingreso)

In [ ]:
events_df.shape

In [ ]:
events_df.country.shape

In [ ]:
events_df['ingreso'] = columna_ingreso

In [ ]:
df = events_df.groupby('person').ingreso.value_counts().unstack()

In [ ]:
features_df = features_df.join(df, on='person')

In [ ]:
features_df = features_df.drop(columns=[False])
features_df.columns
features_df.head()

## Tiempo total

In [ ]:
events_df['timestamp'] = pd.to_datetime(events_df['timestamp'])

In [ ]:
df = (events_df.groupby('person').timestamp.agg('max') - events_df.groupby('person').timestamp.agg('min'))
df.head()

In [ ]:
features_df = features_df.join(df, on='person')

In [ ]:
features_df = features_df.rename(columns={'timestamp':'tiempo_total'})

In [ ]:
features_df[['person', 'tiempo_total']].head()

In [ ]:
features_df.tiempo_total = pd.to_numeric(features_df.tiempo_total, downcast='float')
features_df.tiempo_total.head()

## Support para color (Al agregarlo baja)

In [ ]:
ct = pd.crosstab(events_df.person, events_df.color)
ct = ct.astype('bool')

In [ ]:
from mlxtend.frequent_patterns import apriori 
frequent_itemsets = apriori(ct, min_support=0.01, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets.head()

In [ ]:
def columna_por_persona(crosstab):
    diccionario = {}
    for person in crosstab.index :
        #print(person)
        lista_value = list()
        for value in crosstab.columns :
            if crosstab.loc[person, value] > 0 :
                lista_value.append(value)
        values = frozenset(lista_value)        
        diccionario[person] = values                
    return diccionario

In [ ]:
result = columna_por_persona(ct)

In [ ]:
#Algoritmo para asignarle el support a la persona segun sus eventos(Toma todos los ev realizados por la persona)
#Result es lo que devuelve storage por persona
def asignar_support(result, frequent_itemsets):
    lista_support = list()
    for value in result.values() :
        #print(value)
        support_value = obtener_support(value, frequent_itemsets)
        #print(support_value)
        lista_support.append(support_value)
    return lista_support

In [ ]:
def obtener_support(nupla, frequent_itemsets):
    if( len(frequent_itemsets.loc[ frequent_itemsets['itemsets']==nupla ].support.values) == 0 ):
        return 0;
    support_value = frequent_itemsets.loc[ frequent_itemsets['itemsets']==nupla ].support.values[0]
    return support_value

In [ ]:
lista_support = asignar_support(result, frequent_itemsets)
len(lista_support)

In [ ]:
def lista_personas_f(result):
    lista_personas = list()
    for key in result.keys():
        lista_personas.append(key)
    return lista_personas

In [ ]:
lista_personas = lista_personas_f(result)
len(lista_personas)

In [ ]:
d = {'person': lista_personas, 'color_support': lista_support}
df = pd.DataFrame(data=d)

In [ ]:
features_df = features_df.join(df.set_index('person'), on='person', how='left')
features_df.head(3)

## Labels y separacion de df

In [41]:
labels_df = pd.read_csv("/home/miki_mustard/Desktop/Facultad/Datos/TP2/fiuba-trocafone-tp2-final-set/labels_training_set.csv", low_memory=False)

In [42]:
len(events_df.person.unique())

38829

In [43]:
features_df.shape

(38829, 26)

In [64]:
#Separo en train y to_predict
train_df = features_df.merge(labels_df, on='person', how='right')
train_df.shape

(19414, 50)

In [65]:
to_predict = features_df[~features_df.person.isin(labels_df.person)]
to_predict.shape

(19415, 49)

In [66]:
# Labels: los valores a predecir
#labels = np.array(train_df.label)
labels = train_df.label

#remuevo el label del df
train_df = train_df.drop(columns=['label'])

In [67]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split

#Separo en test y train
X_train, X_test, y_train, y_test = \
    train_test_split(train_df.drop(columns=['person']) , labels, test_size=0.2, random_state=123)

In [68]:
X_train.reset_index(inplace=True)
X_train.drop(columns='index', inplace=True)
X_test.reset_index(inplace=True)
X_test.drop(columns='index', inplace=True)
y_train = pd.DataFrame(y_train)

y_train.reset_index(inplace=True)
y_train.drop(columns='index', inplace=True)
y_test = pd.DataFrame(y_test)
y_test.reset_index(inplace=True)
y_test.drop(columns='index', inplace=True)

to_predict = pd.DataFrame(to_predict)
to_predict.reset_index(inplace=True)
to_predict.drop(columns='index', inplace=True)

## XGBoost

In [49]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
from datetime import datetime
from xgboost import XGBRegressor
import xgboost as xgb
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import StratifiedKFold

In [50]:
def timer(start_time=None):
    if not start_time:
        start_time = datetime.now()
        return start_time
    elif start_time:
        thour, temp_sec = divmod((datetime.now() - start_time).total_seconds(), 3600)
        tmin, tsec = divmod(temp_sec, 60)
        print('\n Time taken: %i hours %i minutes and %s seconds.' % (thour, tmin, round(tsec, 2)))

In [51]:
# A parameter grid for XGBoost
params = {
        'min_child_weight': [1, 5, 10],
        'gamma': [0.5, 1, 1.5, 2, 5, 10],
        'colsample_bytree': [0.1, 0.2, 0.3, 0.5],
        'colsample_bylevel': [0.7, 0.8, 0.9],
        'max_depth': [3, 4, 5, 7, 8, 9, 11, 13, 15],
        'base_score': [0.1, 0.2, 0.3],
        'n_estimators': [35, 40, 50, 60, 70, 80, 90]
        }

In [52]:
#Parametros con los que obtuvimos 0.82

xg_reg = xgb.XGBRegressor(objective ='binary:logistic',base_score= 0.1, 
                          colsample_bylevel= 0.9, booster='dart', 
                colsample_bytree = 0.5, learning_rate = 0.2,
                max_depth = 8, alpha = 20, gamma=10, n_estimators = 35, eval_metric='auc')

In [53]:
xg_gs = xgb.XGBRegressor(objective ='binary:logistic', booster='dart', 
                        learning_rate = 0.2,
                        alpha = 20, eval_metric='auc')

In [69]:
folds = 10
param_comb = 7

skf = StratifiedKFold(n_splits=folds, shuffle = True, random_state = 1001)

random_search = RandomizedSearchCV(xg_gs, param_distributions=params, n_iter=param_comb, scoring='roc_auc', n_jobs=4, 
                                   cv=skf.split(train_df.drop(columns=['person']),labels), verbose=3, random_state=1001,return_train_score=True)

# Here we go
start_time = timer(None) # timing starts from this point for "start_time" variable
random_search.fit(train_df.drop(columns=['person']), labels)
timer(start_time) # timing ends here for "start_time" variable

Fitting 10 folds for each of 7 candidates, totalling 70 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  24 tasks      | elapsed:   21.0s
[Parallel(n_jobs=4)]: Done  70 out of  70 | elapsed:   54.6s finished

 Time taken: 0 hours 0 minutes and 56.66 seconds.

In [71]:
print('\n All results:')
print(random_search.cv_results_)
print('\n Best estimator:')
print(random_search.best_estimator_)

print('\n Best hyperparameters:')
print(random_search.best_params_)
results = pd.DataFrame(random_search.cv_results_)
results.to_csv('xgb-random-grid-search-results-01.csv', index=False)

 All results:
{'mean_fit_time': array([1.60759368, 3.53049901, 3.93791163, 1.64192655, 1.79912233,
       6.24128668, 0.96338937]), 'std_fit_time': array([0.1469382 , 0.15050284, 0.12210951, 0.06832671, 0.08341498,
       0.26257991, 0.07155361]), 'mean_score_time': array([0.01813345, 0.01659889, 0.02170129, 0.01760676, 0.01567445,
       0.0251436 , 0.01338239]), 'std_score_time': array([0.00273712, 0.00389707, 0.00075674, 0.00182067, 0.00391756,
       0.00737287, 0.00280394]), 'param_n_estimators': masked_array(data=[50, 80, 70, 50, 90, 80, 60],
             mask=[False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_min_child_weight': masked_array(data=[5, 10, 1, 5, 10, 5, 10],
             mask=[False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_max_depth': masked_array(data=[8, 7, 9, 7, 4, 13, 5],
             mask=[False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_gamma': masked_array(data=[1.5, 10, 0.5, 1.5, 10, 1.5, 1.5],
             mask=[False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_colsample_bytree': masked_array(data=[0.2, 0.5, 0.2, 0.2, 0.2, 0.3, 0.1],
             mask=[False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_colsample_bylevel': masked_array(data=[0.7, 0.9, 0.8, 0.8, 0.7, 0.9, 0.8],
             mask=[False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_base_score': masked_array(data=[0.2, 0.1, 0.3, 0.1, 0.3, 0.2, 0.3],
             mask=[False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'n_estimators': 50, 'min_child_weight': 5, 'max_depth': 8, 'gamma': 1.5, 'colsample_bytree': 0.2, 'colsample_bylevel': 0.7, 'base_score': 0.2}, {'n_estimators': 80, 'min_child_weight': 10, 'max_depth': 7, 'gamma': 10, 'colsample_bytree': 0.5, 'colsample_bylevel': 0.9, 'base_score': 0.1}, {'n_estimators': 70, 'min_child_weight': 1, 'max_depth': 9, 'gamma': 0.5, 'colsample_bytree': 0.2, 'colsample_bylevel': 0.8, 'base_score': 0.3}, {'n_estimators': 50, 'min_child_weight': 5, 'max_depth': 7, 'gamma': 1.5, 'colsample_bytree': 0.2, 'colsample_bylevel': 0.8, 'base_score': 0.1}, {'n_estimators': 90, 'min_child_weight': 10, 'max_depth': 4, 'gamma': 10, 'colsample_bytree': 0.2, 'colsample_bylevel': 0.7, 'base_score': 0.3}, {'n_estimators': 80, 'min_child_weight': 5, 'max_depth': 13, 'gamma': 1.5, 'colsample_bytree': 0.3, 'colsample_bylevel': 0.9, 'base_score': 0.2}, {'n_estimators': 60, 'min_child_weight': 10, 'max_depth': 5, 'gamma': 1.5, 'colsample_bytree': 0.1, 'colsample_bylevel': 0.8, 'base_score': 0.3}], 'split0_test_score': array([0.69365344, 0.70360574, 0.69121032, 0.69393565, 0.71460667,
       0.69003442, 0.70863861]), 'split1_test_score': array([0.66102694, 0.66036013, 0.67186462, 0.6542814 , 0.65749646,
       0.65808026, 0.64563228]), 'split2_test_score': array([0.73353457, 0.73345434, 0.72333326, 0.72914084, 0.73258832,
       0.71230743, 0.73873899]), 'split3_test_score': array([0.66648313, 0.68016789, 0.63042023, 0.66465426, 0.67396465,
       0.63333647, 0.68136316]), 'split4_test_score': array([0.71190218, 0.71779043, 0.70663127, 0.71855449, 0.71394521,
       0.71018304, 0.71483661]), 'split5_test_score': array([0.6890302 , 0.72087435, 0.66392694, 0.69105108, 0.7020386 ,
       0.66686968, 0.7020829 ]), 'split6_test_score': array([0.69286157, 0.71238941, 0.65697565, 0.70069873, 0.71307872,
       0.66393524, 0.69904603]), 'split7_test_score': array([0.65546968, 0.67880674, 0.61402494, 0.64557288, 0.67093359,
       0.62717176, 0.66597827]), 'split8_test_score': array([0.6812844 , 0.68424928, 0.66100358, 0.67891747, 0.68078333,
       0.67942684, 0.67567575]), 'split9_test_score': array([0.63067647, 0.66289158, 0.63179211, 0.64766851, 0.67113291,
       0.63087579, 0.6326586 ]), 'mean_test_score': array([0.68159372, 0.69545877, 0.66512119, 0.68244816, 0.69305718,
       0.66722337, 0.68646659]), 'std_test_score': array([0.02805492, 0.02423004, 0.03293766, 0.02777583, 0.02386525,
       0.0295223 , 0.03091365]), 'rank_test_score': array([5, 1, 7, 4, 2, 6, 3], dtype=int32), 'split0_train_score': array([0.75813473, 0.70896672, 0.80185592, 0.74916644, 0.70190461,
       0.80411963, 0.71502746]), 'split1_train_score': array([0.75118402, 0.71769695, 0.8045549 , 0.75774488, 0.70780416,
       0.80068536, 0.71957279]), 'split2_train_score': array([0.75088707, 0.70246768, 0.80884829, 0.75385235, 0.69672835,
       0.80364756, 0.70750654]), 'split3_train_score': array([0.74637451, 0.70878258, 0.81237581, 0.75188565, 0.70622189,
       0.80953734, 0.71355292]), 'split4_train_score': array([0.75013609, 0.71002986, 0.80840851, 0.74399966, 0.705269  ,
       0.80378705, 0.70670152]), 'split5_train_score': array([0.76184589, 0.71471867, 0.80453278, 0.7556306 , 0.70505192,
       0.81511809, 0.70517736]), 'split6_train_score': array([0.76107231, 0.70852565, 0.81233009, 0.74166153, 0.70760672,
       0.81394046, 0.71665918]), 'split7_train_score': array([0.74293274, 0.71128403, 0.80970576, 0.74613166, 0.71082528,
       0.81611725, 0.71955238]), 'split8_train_score': array([0.75833714, 0.7116974 , 0.80914102, 0.75777844, 0.70572009,
       0.80633307, 0.70604589]), 'split9_train_score': array([0.75778736, 0.71668296, 0.81423127, 0.75924971, 0.71140946,
       0.80963749, 0.71671938]), 'mean_train_score': array([0.75386919, 0.71108525, 0.80859843, 0.75171009, 0.70585415,
       0.80829233, 0.71265154]), 'std_train_score': array([0.0061224 , 0.00424716, 0.00374009, 0.00589994, 0.0040307 ,
       0.00513876, 0.00544025])}

 Best estimator:
XGBRegressor(alpha=20, base_score=0.1, booster='dart', colsample_bylevel=0.9,
       colsample_bytree=0.5, eval_metric='auc', gamma=10,
       learning_rate=0.2, max_delta_step=0, max_depth=7,
       min_child_weight=10, missing=None, n_estimators=80, n_jobs=1,
       nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

 Best hyperparameters:
{'n_estimators': 80, 'min_child_weight': 10, 'max_depth': 7, 'gamma': 10, 'colsample_bytree': 0.5, 'colsample_bylevel': 0.9, 'base_score': 0.1}

In [72]:
preds_grid_search = random_search.predict(X_test)

In [73]:
roc_auc_score(y_test, preds_grid_search)

0.7191186051712906

In [58]:
xg_reg.fit(X_train,y_train)

XGBRegressor(alpha=20, base_score=0.1, booster='dart', colsample_bylevel=0.9,
       colsample_bytree=0.5, eval_metric='auc', gamma=10,
       learning_rate=0.2, max_delta_step=0, max_depth=8,
       min_child_weight=1, missing=None, n_estimators=35, n_jobs=1,
       nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [59]:
preds = xg_reg.predict(X_test)

In [60]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,preds)

0.6836725432804666

In [ ]:
X_train = X_train.fillna(0)

## Prediccion

In [ ]:
preds_posta = random_search.predict(to_predict.drop(columns=['person']))

In [ ]:
preds_posta

In [ ]:
preds_posta_sin_g_s = xg_reg.predict(to_predict.drop(columns=['person']))

In [ ]:
preds_posta_sin_g_s

## Genero csv a publicar

In [ ]:
to_publish = pd.DataFrame()

In [ ]:
to_publish['person'] = to_predict.person
to_publish.shape

In [ ]:
to_publish['label'] = preds_posta_sin_g_s
to_publish.shape

In [ ]:
to_publish.head()

In [ ]:
to_publish.loc[ to_publish.label > 1 ]

In [ ]:
to_publish.loc[ to_publish.label < 0 ]

In [ ]:
to_publish.to_csv('2_12_1.csv', index=False)