In [1]:
import pandas as pd
import numpy as np

In [2]:
#Leo el csv de eventos

events_df = pd.read_csv("/home/miki_mustard/Desktop/Facultad/Datos/TP2/fiuba-trocafone-tp2-final-set/events_up_to_01062018.csv", low_memory=False)

## Generacion de features

In [3]:
features_df = pd.DataFrame()

In [4]:
features_df['person'] = events_df.person.unique()

## Cantidad eventos totales

In [121]:
df = events_df.groupby('person').event.count()

In [122]:
df

person
0008ed71       6
00091926     448
00091a7a      10
000ba417     206
000c79fe      17
000e4d9e     411
000e619d      68
001001be      68
0010e89a       4
0016c4b5       4
001802e4      19
001804a2       4
0019e639     471
001a2273      16
001b0bf9       7
001ca5ee      96
001dfc31      35
001e9aea      54
0020152e       9
00202cdb      30
0022965d     189
0027574e     156
00295d74      18
002aea56     283
002b0188      38
002e74b2       8
002ed810      57
002fb981      50
00317e49      13
0031c75f      56
            ...
ffcaae19      31
ffcaeaae      22
ffccd5a1      26
ffcf952b      87
ffd41214      36
ffd62616     106
ffd9756a       8
ffda14ca       4
ffdafc72      34
ffddd0ec      33
ffde3628     208
ffe066cc      55
ffe53446     172
ffe7e848     107
ffeb80c5       8
ffebdbc9      28
ffecdf29      12
ffecea3d      10
ffed0342     328
ffed3d0e       8
ffee0f18    3458
ffef83e6     216
fff1659c      55
fff1b11a      21
fff1caee       4
fff2bdde      57
fff54d61       2
fff72025      97
fff78145      47
fffd1246      10
Name: event, Length: 38829, dtype: int64

In [7]:
features_df = features_df.join(df, on='person')

In [8]:
features_df.rename(columns={'event':'cant_eventos_totales'}, inplace=True)

## Evento segun dia

In [9]:
events_df['timestamp'] = pd.to_datetime(events_df['timestamp'])
events_df['weekday'] = events_df['timestamp'].dt.day_name()

In [16]:
ct = pd.crosstab(events_df.person, events_df.weekday, events_df.event, aggfunc='count')
ct.head()

weekday   Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
person
0008ed71     NaN     NaN       NaN     NaN       6.0      NaN        NaN
00091926    86.0    32.0      32.0   131.0      84.0     43.0       40.0
00091a7a     NaN    10.0       NaN     NaN       NaN      NaN        NaN
000ba417     NaN     NaN      59.0     NaN     147.0      NaN        NaN
000c79fe     NaN     NaN       NaN     NaN       NaN     17.0        NaN

In [17]:
ct.shape

(38829, 7)

In [18]:
len( events_df.person.unique())

38829

In [19]:
features_df = features_df.join(ct, on='person', how='left')
features_df.head(3)

,person,cant_eventos_totales,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,4886f805,9,9.0,NaN,NaN,NaN,NaN,NaN,NaN
1,ad93850f,65,42.0,13.0,NaN,NaN,NaN,7.0,3.0
2,0297fc1e,567,70.0,119.0,36.0,56.0,112.0,113.0,61.0

In [ ]:

d = events_df.groupby(['person', 'event']).weekday.value_counts().unstack().drop(columns=['Friday', 'Sunday', 'Saturday', 'Monday'])

In [34]:
filtered = events_df.loc[ events_df.event=='conversion' ]

In [35]:
filtered = filtered.groupby(['person']).weekday.value_counts().unstack().rename(columns={'Friday':'conv_fr', 'Monday':'conv_mon',
                                                                            'Saturday':'conv_sat', 'Thursday':'conv_th',
                                                                              'Tuesday':'conv_tue', 'Wednesday':'conv_wed',
                                                                                        'Sunday':'conv_sun'})

In [36]:
filtered.head()

weekday   conv_fr  conv_mon  conv_sat  conv_sun  conv_th  conv_tue  conv_wed
person
000ba417      NaN       NaN       1.0       NaN      NaN       NaN       NaN
001001be      NaN       NaN       NaN       NaN      NaN       NaN       1.0
001804a2      1.0       NaN       NaN       NaN      NaN       NaN       NaN
0019e639      1.0       NaN       NaN       NaN      NaN       1.0       NaN
001b0bf9      NaN       NaN       NaN       NaN      NaN       1.0       NaN

In [37]:
features_df = features_df.join(filtered, on='person', how='left')
features_df.head(3)

,person,cant_eventos_totales,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,conv_fr,conv_mon,conv_sat,conv_sun,conv_th,conv_tue,conv_wed
0,4886f805,9,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ad93850f,65,42.0,13.0,NaN,NaN,NaN,7.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0297fc1e,567,70.0,119.0,36.0,56.0,112.0,113.0,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Cant eventos individuales

In [61]:
df = events_df.groupby('person').event.value_counts()

In [62]:
df = df.unstack()
df.head()

event,ad campaign hit,brand listing,checkout,conversion,generic listing,lead,search engine hit,searched products,staticpage,viewed product,visited site
person,,,,,,,,,,,
0008ed71,NaN,NaN,3.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2.0
00091926,15.0,25.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,372.0,34.0
00091a7a,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1.0
000ba417,1.0,24.0,6.0,1.0,14.0,NaN,1.0,NaN,NaN,153.0,6.0
000c79fe,1.0,NaN,1.0,NaN,1.0,NaN,1.0,9.0,NaN,3.0,1.0

In [63]:
features_df = features_df.join(df, on='person')

In [64]:
features_df.rename(columns={'ad campaign hit':'cant_ach', 'brand listing':'cant_bl', 'checkout':'cant_ch', 
                            'conversion':'cant_cv', 'generic listing':'cant_gl',
                           'search engine hit':'cant_seh', 'searched products':'cant_s_p', 
                            'staticpage':'cant_sp', 'viewed product':'cant_vp', 'visited site':'cant_vs'}, inplace=True)

## support evento

In [65]:
ct = pd.crosstab(events_df.person, events_df.event)
ct = ct.astype('bool')

In [77]:
from mlxtend.frequent_patterns import apriori 
frequent_itemsets = apriori(ct, min_support=0.0, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

       support                                           itemsets  length
0     0.821551                                  (ad campaign hit)       1
1     0.495223                                    (brand listing)       1
2     0.845579                                         (checkout)       1
3     0.110562                                       (conversion)       1
4     0.648613                                  (generic listing)       1
5     0.014912                                             (lead)       1
6     0.671689                                (search engine hit)       1
7     0.337196                                (searched products)       1
8     0.104407                                       (staticpage)       1
9     0.956244                                   (viewed product)       1
10    0.984882                                     (visited site)       1
11    0.423755                   (brand listing, ad campaign hit)       2
12    0.699374                        (checkout, ad campaign hit)       2
13    0.095084                      (conversion, ad campaign hit)       2
14    0.526539                 (generic listing, ad campaign hit)       2
15    0.013959                            (lead, ad campaign hit)       2
16    0.563883               (search engine hit, ad campaign hit)       2
17    0.288547               (searched products, ad campaign hit)       2
18    0.091993                      (staticpage, ad campaign hit)       2
19    0.807232                  (viewed product, ad campaign hit)       2
20    0.819104                    (visited site, ad campaign hit)       2
21    0.422674                          (checkout, brand listing)       2
22    0.080378                        (conversion, brand listing)       2
23    0.408406                   (generic listing, brand listing)       2
24    0.013160                              (brand listing, lead)       2
25    0.400783                 (brand listing, search engine hit)       2
26    0.215045                 (searched products, brand listing)       2
27    0.081357                        (brand listing, staticpage)       2
28    0.490484                    (brand listing, viewed product)       2
29    0.493806                      (visited site, brand listing)       2
...        ...                                                ...     ...
2017  0.003013  (visited site, searched products, generic list...       9
2018  0.004172  (visited site, searched products, generic list...       9
2019  0.003477  (visited site, generic listing, search engine ...       9
2020  0.003142  (visited site, searched products, generic list...       9
2021  0.024389  (visited site, searched products, generic list...       9
2022  0.003013  (visited site, searched products, search engin...       9
2023  0.004687  (visited site, searched products, generic list...       9
2024  0.003039  (visited site, searched products, generic list...       9
2025  0.002987  (searched products, generic listing, search en...       9
2026  0.002987  (visited site, searched products, generic list...       9
2027  0.004146  (visited site, searched products, generic list...       9
2028  0.003425  (visited site, generic listing, search engine ...       9
2029  0.003116  (visited site, searched products, generic list...       9
2030  0.022045  (visited site, searched products, generic list...       9
2031  0.002987  (visited site, searched products, search engin...       9
2032  0.004533  (visited site, searched products, generic list...       9
2033  0.003013  (visited site, searched products, generic list...       9
2034  0.003065  (visited site, searched products, generic list...       9
2035  0.002936  (searched products, generic listing, search en...      10
2036  0.002936  (visited site, searched products, generic list...      10
2037  0.004043  (visited site, searched products, generic list...      10
2038  0.003374  (visited site, generic listing, search engine ...      10
2039  0.003065  (visited site, searched products, generic list...      10
2040  0.021402  (visited site, searched products, generic list...      10
2041  0.002936  (visited site, searched products, search engin...      10
2042  0.004455  (visited site, searched products, generic list...      10
2043  0.002962  (visited site, searched products, generic list...      10
2044  0.003013  (visited site, searched products, generic list...      10
2045  0.002987  (visited site, searched products, generic list...      10
2046  0.002936  (visited site, searched products, generic list...      11

[2047 rows x 3 columns]

In [67]:
def columna_por_persona_new(crosstab):
    diccionario = {}
    for person in crosstab.index :
        #print(person)
        num_max = 0
        lista = list()
        for value in crosstab.columns :
            if crosstab.loc[person, value] > num_max :
                value_max = value
                num_max = crosstab.loc[person, value]
        lista.append(value_max)
        values = frozenset( lista ) 
        diccionario[person] = values                
    return diccionario

In [97]:
result = columna_por_persona_new(ct)

In [69]:
#Algoritmo para asignarle el support a la persona segun sus eventos(Toma todos los ev realizados por la persona)
#Result es lo que devuelve storage por persona
def asignar_support(result, frequent_itemsets):
    lista_support = list()
    for value in result.values() :
        #print(value)
        support_value = obtener_support(value, frequent_itemsets)
        #print(support_value)
        lista_support.append(support_value)
    return lista_support

In [70]:
def obtener_support(nupla, frequent_itemsets):
    if( len(frequent_itemsets.loc[ frequent_itemsets['itemsets']==nupla ].support.values) == 0 ):
        return 0;
    support_value = frequent_itemsets.loc[ frequent_itemsets['itemsets']==nupla ].support.values[0]
    return support_value

In [98]:
lista_support = asignar_support(result, frequent_itemsets)
len(lista_support)

38829

In [72]:
def lista_personas_f(result):
    lista_personas = list()
    for key in result.keys():
        lista_personas.append(key)
    return lista_personas

In [99]:
lista_personas = lista_personas_f(result)
len(lista_personas)

38829

In [102]:
d = {'person': lista_personas, 'ev_ind_00_support': lista_support}
df = pd.DataFrame(data=d)

In [104]:
features_df = features_df.join(df.set_index('person'), on='person', how='left')

ValueError: columns overlap but no suffix specified: Index(['ev_ind_00_support'], dtype='object')

In [105]:
features_df.head(14)

,person,cant_eventos_totales,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,conv_fr,...,cant_cv,cant_gl,lead,cant_seh,cant_s_p,cant_sp,cant_vp,cant_vs,ev_ind_support,ev_ind_00_support
0,4886f805,9,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,1.0,1.0,NaN,4.0,1.0,0.845579,0.845579
1,ad93850f,65,42.0,13.0,NaN,NaN,NaN,7.0,3.0,NaN,...,NaN,7.0,NaN,7.0,NaN,NaN,20.0,5.0,0.821551,0.821551
2,0297fc1e,567,70.0,119.0,36.0,56.0,112.0,113.0,61.0,NaN,...,NaN,21.0,1.0,NaN,6.0,NaN,404.0,95.0,0.821551,0.821551
3,2d681dd8,26,10.0,NaN,NaN,16.0,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,2.0,1.0,NaN,13.0,2.0,0.821551,0.821551
4,cccea85e,836,124.0,298.0,42.0,NaN,198.0,70.0,104.0,NaN,...,NaN,20.0,NaN,26.0,1.0,5.0,739.0,22.0,0.821551,0.821551
5,4c8a8b93,257,151.0,13.0,59.0,32.0,NaN,2.0,NaN,NaN,...,NaN,14.0,NaN,13.0,9.0,NaN,177.0,20.0,0.821551,0.821551
6,1b9f7cf6,25,8.0,2.0,NaN,NaN,15.0,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,8.0,NaN,9.0,3.0,0.000000,0.495223
7,29ebb414,35,26.0,NaN,NaN,9.0,NaN,NaN,NaN,NaN,...,NaN,3.0,NaN,4.0,11.0,NaN,8.0,4.0,0.821551,0.821551
8,de8fe91b,53,34.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,NaN,4.0,13.0,NaN,27.0,2.0,0.000000,0.495223
9,45baf068,20,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.0,NaN,NaN,NaN,NaN,6.0,1.0,0.821551,0.821551
10,99abca5a,819,176.0,9.0,116.0,46.0,61.0,315.0,96.0,NaN,...,2.0,62.0,1.0,1.0,5.0,2.0,630.0,56.0,0.821551,0.821551
11,3dc1950f,672,62.0,188.0,NaN,NaN,198.0,104.0,120.0,NaN,...,NaN,25.0,NaN,7.0,2.0,1.0,595.0,30.0,0.821551,0.821551
12,8ea4c165,159,33.0,NaN,24.0,10.0,NaN,92.0,NaN,NaN,...,NaN,8.0,NaN,9.0,17.0,NaN,97.0,7.0,0.821551,0.821551
13,64f45e8d,47,8.0,NaN,NaN,NaN,39.0,NaN,NaN,NaN,...,NaN,5.0,NaN,1.0,1.0,1.0,32.0,3.0,0.821551,0.821551

## mean encoding eventos

In [124]:
#Separo en train y to_predict
mean_encoding = events_df.merge(labels_df, on='person', how='right')
mean_encoding.shape
me = mean_encoding.groupby(['event']).label.value_counts(normalize=True).unstack().drop(columns=[0]).rename(columns=({1:'mean_enc_event'}))
me.head()

label            mean_enc_event
event
ad campaign hit        0.064665
brand listing          0.105026
checkout               0.055226
conversion             0.122334
generic listing        0.095422

In [125]:
events_df.event.value_counts()

viewed product       1248124
brand listing         216312
visited site          204069
ad campaign hit       191388
generic listing       160176
searched products     130616
search engine hit     106406
checkout               65315
staticpage             11201
conversion              7091
lead                     983
Name: event, dtype: int64

In [126]:
events_df = events_df.join(me, on='event')

In [127]:
events_df.mean_enc_event.value_counts()

0.085458    1248124
0.105026     216312
0.087264     204069
0.064665     191388
0.095422     160176
0.080361     130616
0.076132     106406
0.055226      65315
0.104064      11201
0.122334       7091
0.125290        983
Name: mean_enc_event, dtype: int64

In [128]:
df = events_df.groupby(['person']).mean_enc_event.mean()
df.head(3)

person
0008ed71    0.072605
00091926    0.085856
00091a7a    0.093343
Name: mean_enc_event, dtype: float64

In [129]:
features_df = features_df.join(df, on='person')

In [130]:
features_df.head()

,person,cant_eventos_totales,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,conv_fr,...,cant_gl,lead,cant_seh,cant_s_p,cant_sp,cant_vp,cant_vs,ev_ind_support,ev_ind_00_support,mean_enc_event
0,4886f805,9,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,1.0,1.0,NaN,4.0,1.0,0.845579,0.845579,0.081804
1,ad93850f,65,42.0,13.0,NaN,NaN,NaN,7.0,3.0,NaN,...,7.0,NaN,7.0,NaN,NaN,20.0,5.0,0.821551,0.821551,0.086517
2,0297fc1e,567,70.0,119.0,36.0,56.0,112.0,113.0,61.0,NaN,...,21.0,1.0,NaN,6.0,NaN,404.0,95.0,0.821551,0.821551,0.084847
3,2d681dd8,26,10.0,NaN,NaN,16.0,NaN,NaN,NaN,NaN,...,1.0,NaN,2.0,1.0,NaN,13.0,2.0,0.821551,0.821551,0.086867
4,cccea85e,836,124.0,298.0,42.0,NaN,198.0,70.0,104.0,NaN,...,20.0,NaN,26.0,1.0,5.0,739.0,22.0,0.821551,0.821551,0.085314

## Labels y preparacion df

In [38]:
labels_df = pd.read_csv("/home/miki_mustard/Desktop/Facultad/Datos/TP2/fiuba-trocafone-tp2-final-set/labels_training_set.csv", low_memory=False)

In [131]:
#Separo en train y to_predict
train_df = features_df.merge(labels_df, on='person', how='right')
train_df.shape

(19414, 31)

In [132]:
to_predict = features_df[~features_df.person.isin(labels_df.person)]
to_predict.shape

(19415, 30)

In [133]:
# Labels: los valores a predecir
#labels = np.array(train_df.label)
labels = train_df.label

#remuevo el label del df
train_df = train_df.drop(columns=['label'])

In [134]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split

#Separo en test y train
X_train, X_test, y_train, y_test = \
    train_test_split(train_df.drop(columns=['person']) , labels, test_size=0.2, random_state=123)

In [135]:
X_train.reset_index(inplace=True)
X_train.drop(columns='index', inplace=True)
X_test.reset_index(inplace=True)
X_test.drop(columns='index', inplace=True)
y_train = pd.DataFrame(y_train)

y_train.reset_index(inplace=True)
y_train.drop(columns='index', inplace=True)
y_test = pd.DataFrame(y_test)
y_test.reset_index(inplace=True)
y_test.drop(columns='index', inplace=True)

to_predict = pd.DataFrame(to_predict)
to_predict.reset_index(inplace=True)
to_predict.drop(columns='index', inplace=True)

## XGBoost

In [44]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
from datetime import datetime
from xgboost import XGBRegressor
import xgboost as xgb
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import StratifiedKFold

In [45]:
def timer(start_time=None):
    if not start_time:
        start_time = datetime.now()
        return start_time
    elif start_time:
        thour, temp_sec = divmod((datetime.now() - start_time).total_seconds(), 3600)
        tmin, tsec = divmod(temp_sec, 60)
        print('\n Time taken: %i hours %i minutes and %s seconds.' % (thour, tmin, round(tsec, 2)))

In [46]:
# A parameter grid for XGBoost
params = {
        'min_child_weight': [1, 5, 10],
        'gamma': [0.5, 1, 1.5, 2, 5, 10],
        'colsample_bytree': [0.1, 0.2, 0.3, 0.5],
        'colsample_bylevel': [0.7, 0.8, 0.9],
        'max_depth': [3, 4, 5, 7, 8, 9, 11, 13, 15],
        'base_score': [0.1, 0.2, 0.3],
        'n_estimators': [35, 40, 50, 60, 70, 80, 90],
        'booster':['gbtree', 'dart']
        }

In [47]:
xg_gs = xgb.XGBRegressor(objective ='binary:logistic',
                        learning_rate = 0.2,
                        alpha = 20, eval_metric='auc')

In [136]:
folds = 10
param_comb = 7

skf = StratifiedKFold(n_splits=folds, shuffle = True, random_state = 1001)

random_search = RandomizedSearchCV(xg_gs, param_distributions=params, n_iter=param_comb, scoring='roc_auc', n_jobs=4, 
                                   cv=skf.split(train_df.drop(columns=['person']),labels), verbose=3, random_state=1001,return_train_score=True)

# Here we go
start_time = timer(None) # timing starts from this point for "start_time" variable
random_search.fit(train_df.drop(columns=['person']), labels)
timer(start_time) # timing ends here for "start_time" variable

Fitting 10 folds for each of 7 candidates, totalling 70 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  24 tasks      | elapsed:   17.1s
[Parallel(n_jobs=4)]: Done  70 out of  70 | elapsed:   31.7s finished

 Time taken: 0 hours 0 minutes and 32.77 seconds.

In [137]:
print('\n All results:')
print(random_search.cv_results_)
print('\n Best estimator:')
print(random_search.best_estimator_)

print('\n Best hyperparameters:')
print(random_search.best_params_)

 All results:
{'mean_fit_time': array([3.57813258, 2.09066818, 0.53567832, 0.27267315, 1.38138309,
       0.52784941, 2.54763446]), 'std_fit_time': array([0.07611076, 0.06549299, 0.01824625, 0.00347446, 0.05115718,
       0.00272687, 0.260754  ]), 'mean_score_time': array([0.01481566, 0.00846944, 0.00694711, 0.00871336, 0.00790658,
       0.01274107, 0.01239905]), 'std_score_time': array([0.00096103, 0.00030779, 0.00013886, 0.0004197 , 0.00075399,
       0.00031336, 0.00172358]), 'param_n_estimators': masked_array(data=[70, 70, 35, 40, 70, 50, 70],
             mask=[False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_min_child_weight': masked_array(data=[1, 1, 10, 1, 5, 5, 1],
             mask=[False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_max_depth': masked_array(data=[5, 11, 4, 4, 5, 7, 15],
             mask=[False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_gamma': masked_array(data=[1, 10, 5, 1.5, 10, 1.5, 1.5],
             mask=[False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_colsample_bytree': masked_array(data=[0.5, 0.2, 0.2, 0.2, 0.2, 0.2, 0.1],
             mask=[False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_colsample_bylevel': masked_array(data=[0.9, 0.9, 0.9, 0.9, 0.7, 0.8, 0.9],
             mask=[False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_booster': masked_array(data=['dart', 'dart', 'dart', 'gbtree', 'dart', 'gbtree',
                   'dart'],
             mask=[False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'param_base_score': masked_array(data=[0.3, 0.2, 0.3, 0.3, 0.2, 0.1, 0.2],
             mask=[False, False, False, False, False, False, False],
       fill_value='?',
            dtype=object), 'params': [{'n_estimators': 70, 'min_child_weight': 1, 'max_depth': 5, 'gamma': 1, 'colsample_bytree': 0.5, 'colsample_bylevel': 0.9, 'booster': 'dart', 'base_score': 0.3}, {'n_estimators': 70, 'min_child_weight': 1, 'max_depth': 11, 'gamma': 10, 'colsample_bytree': 0.2, 'colsample_bylevel': 0.9, 'booster': 'dart', 'base_score': 0.2}, {'n_estimators': 35, 'min_child_weight': 10, 'max_depth': 4, 'gamma': 5, 'colsample_bytree': 0.2, 'colsample_bylevel': 0.9, 'booster': 'dart', 'base_score': 0.3}, {'n_estimators': 40, 'min_child_weight': 1, 'max_depth': 4, 'gamma': 1.5, 'colsample_bytree': 0.2, 'colsample_bylevel': 0.9, 'booster': 'gbtree', 'base_score': 0.3}, {'n_estimators': 70, 'min_child_weight': 5, 'max_depth': 5, 'gamma': 10, 'colsample_bytree': 0.2, 'colsample_bylevel': 0.7, 'booster': 'dart', 'base_score': 0.2}, {'n_estimators': 50, 'min_child_weight': 5, 'max_depth': 7, 'gamma': 1.5, 'colsample_bytree': 0.2, 'colsample_bylevel': 0.8, 'booster': 'gbtree', 'base_score': 0.1}, {'n_estimators': 70, 'min_child_weight': 1, 'max_depth': 15, 'gamma': 1.5, 'colsample_bytree': 0.1, 'colsample_bylevel': 0.9, 'booster': 'dart', 'base_score': 0.2}], 'split0_test_score': array([0.79721048, 0.80870944, 0.78454668, 0.76119184, 0.79737649,
       0.79988324, 0.76242585]), 'split1_test_score': array([0.8013552 , 0.80811457, 0.81008732, 0.79941288, 0.81017863,
       0.79378514, 0.80677819]), 'split2_test_score': array([0.81804473, 0.82707291, 0.80988811, 0.79657411, 0.83115676,
       0.81626843, 0.77360939]), 'split3_test_score': array([0.8258057 , 0.83156348, 0.83425284, 0.81223715, 0.83617026,
       0.81709571, 0.79027403]), 'split4_test_score': array([0.79157485, 0.81269724, 0.80136091, 0.78882866, 0.80777791,
       0.78698495, 0.76208101]), 'split5_test_score': array([0.85280211, 0.85608812, 0.84657889, 0.83132814, 0.85805087,
       0.84722115, 0.83790293]), 'split6_test_score': array([0.79826592, 0.81998904, 0.82586898, 0.80804921, 0.8245208 ,
       0.80865824, 0.79305591]), 'split7_test_score': array([0.81674455, 0.82445436, 0.82493882, 0.80846169, 0.82328612,
       0.81723731, 0.82337748]), 'split8_test_score': array([0.81314018, 0.82464538, 0.81791279, 0.80179554, 0.83113989,
       0.80964931, 0.76219451]), 'split9_test_score': array([0.83323552, 0.84568195, 0.83028171, 0.82229229, 0.84951333,
       0.83907394, 0.81846645]), 'mean_test_score': array([0.81481705, 0.8259002 , 0.81856988, 0.80301495, 0.82691542,
       0.81358433, 0.79301457]), 'std_test_score': array([0.01795775, 0.01469945, 0.01692088, 0.01822079, 0.01771832,
       0.01772202, 0.02645741]), 'rank_test_score': array([4, 2, 3, 6, 1, 5, 7], dtype=int32), 'split0_train_score': array([0.93037602, 0.86381279, 0.85017964, 0.86459175, 0.85394054,
       0.92081316, 0.9317054 ]), 'split1_train_score': array([0.93097746, 0.86247969, 0.84688212, 0.86468401, 0.84615555,
       0.91824587, 0.90992627]), 'split2_train_score': array([0.92752177, 0.86416123, 0.84707184, 0.86653719, 0.84707788,
       0.91678117, 0.91293675]), 'split3_train_score': array([0.93027248, 0.86107168, 0.8458216 , 0.86358231, 0.84631321,
       0.91490509, 0.91996938]), 'split4_train_score': array([0.93357332, 0.85962867, 0.84750604, 0.86650201, 0.84878546,
       0.91666404, 0.92472396]), 'split5_train_score': array([0.92859938, 0.8565557 , 0.84378111, 0.8609457 , 0.84541277,
       0.91428179, 0.90788537]), 'split6_train_score': array([0.93290607, 0.85945536, 0.84711451, 0.86497197, 0.8438013 ,
       0.91865225, 0.90905029]), 'split7_train_score': array([0.9284271 , 0.86359009, 0.84674818, 0.86081572, 0.84532287,
       0.91622145, 0.92616957]), 'split8_train_score': array([0.92618495, 0.85957854, 0.84521934, 0.86084805, 0.8463739 ,
       0.91444211, 0.91050529]), 'split9_train_score': array([0.93097178, 0.85788487, 0.84588716, 0.86080376, 0.84414736,
       0.91573673, 0.93403166]), 'mean_train_score': array([0.92998103, 0.86082186, 0.84662115, 0.86342825, 0.84673308,
       0.91667437, 0.91869039]), 'std_train_score': array([0.00220131, 0.00249467, 0.001587  , 0.00225798, 0.00275555,
       0.00196073, 0.00940911])}

 Best estimator:
XGBRegressor(alpha=20, base_score=0.2, booster='dart', colsample_bylevel=0.7,
       colsample_bytree=0.2, eval_metric='auc', gamma=10,
       learning_rate=0.2, max_delta_step=0, max_depth=5,
       min_child_weight=5, missing=None, n_estimators=70, n_jobs=1,
       nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

 Best hyperparameters:
{'n_estimators': 70, 'min_child_weight': 5, 'max_depth': 5, 'gamma': 10, 'colsample_bytree': 0.2, 'colsample_bylevel': 0.7, 'booster': 'dart', 'base_score': 0.2}

In [138]:
preds_grid_search = random_search.predict(X_test)

In [139]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test, preds_grid_search)

0.8238053100213607

In [88]:
#Parametros con los que obtuvimos 0.82

xg_reg = xgb.XGBRegressor(objective ='binary:logistic',base_score= 0.1, 
                          colsample_bylevel= 0.9, booster='dart', 
                colsample_bytree = 0.5, learning_rate = 0.2,
                max_depth = 8, alpha = 20, gamma=10, n_estimators = 35, eval_metric='auc')

In [140]:
xg_reg.fit(X_train,y_train)

XGBRegressor(alpha=20, base_score=0.1, booster='dart', colsample_bylevel=0.9,
       colsample_bytree=0.5, eval_metric='auc', gamma=10,
       learning_rate=0.2, max_delta_step=0, max_depth=8,
       min_child_weight=1, missing=None, n_estimators=35, n_jobs=1,
       nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [141]:
preds = xg_reg.predict(X_test)
roc_auc_score(y_test,preds)

0.8138194424185847

## Importancia con random forest

In [142]:
X_train.fillna(0, inplace=True)
X_test.fillna(0, inplace=True)
to_predict.fillna(0, inplace=True)

In [143]:
# Guardo los nombres de los features para usarlos luego
feature_list = list(train_df.drop(columns=['person']).columns)

In [144]:
#Train model

# Import the model we are using
from sklearn.ensemble import RandomForestRegressor

# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)

# Train the model on training data
rf.fit(X_train, y_train.label);

In [145]:
# Use the forest's predict method on the test data
predictions = rf.predict(X_test)

In [146]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,predictions)

0.7627718298537166

In [147]:
#Obtengo la importancia de los features

# Get numerical feature importances
importances = list(rf.feature_importances_)

# List of tuples with variable and importance
feature_importances = [(feature, round(importance, 2)) for feature, importance in zip(feature_list, importances)]

# Sort the feature importances by most important first
feature_importances = sorted(feature_importances, key = lambda x: x[1], reverse = True)

# Print out the feature and importances 
[print('Variable: {:20} Importance: {}'.format(*pair)) for pair in feature_importances];

Variable: mean_enc_event       Importance: 0.12
Variable: cant_eventos_totales Importance: 0.09
Variable: cant_ch              Importance: 0.09
Variable: cant_vp              Importance: 0.07
Variable: Thursday             Importance: 0.06
Variable: Tuesday              Importance: 0.05
Variable: Wednesday            Importance: 0.05
Variable: cant_gl              Importance: 0.05
Variable: Friday               Importance: 0.04
Variable: Monday               Importance: 0.04
Variable: cant_ach             Importance: 0.04
Variable: cant_bl              Importance: 0.04
Variable: cant_seh             Importance: 0.04
Variable: cant_s_p             Importance: 0.04
Variable: cant_vs              Importance: 0.04
Variable: Saturday             Importance: 0.03
Variable: Sunday               Importance: 0.03
Variable: cant_cv              Importance: 0.01
Variable: cant_sp              Importance: 0.01
Variable: ev_ind_support       Importance: 0.01
Variable: ev_ind_00_support    Importance: 0.01
Variable: conv_fr              Importance: 0.0
Variable: conv_mon             Importance: 0.0
Variable: conv_sat             Importance: 0.0
Variable: conv_sun             Importance: 0.0
Variable: conv_th              Importance: 0.0
Variable: conv_tue             Importance: 0.0
Variable: conv_wed             Importance: 0.0
Variable: lead                 Importance: 0.0

In [ ]:
features_df.columns

In [58]:
from sklearn import metrics
def score(x1,x2):
    return metrics.roc_auc_score(x1,x2)

# defining feature importance function based on above logic
def feat_imp(m, x, y, small_good = True): 
    score_list = {} 
    score_list['original'] = score(y, m.predict(x)) 
    imp = {} 
    for i in range(len(x.columns)): 
        rand_idx = np.random.permutation(len(x)) # randomization
        new_coli = x.values[rand_idx, i] 
        new_x = x.copy()            
        new_x[x.columns[i]] = new_coli 
        score_list[x.columns[i]] = score(y, m.predict(new_x)) 
        imp[x.columns[i]] = score_list['original'] - score_list[x.columns[i]] # comparison with benchmark
    if small_good: 
             return sorted(imp.items(), key=lambda x: x[1]) 
    else: return sorted(imp.items(), key=lambda x: x[1], reverse=True)

In [59]:
train_df.fillna(0, inplace=True)

In [60]:
feat_imp(rf, train_df.drop(columns=['person']), labels)

[('conv_sun', 0.000290279939685667),
 ('conv_fr', 0.001234215613119538),
 ('conv_sat', 0.001970294464753497),
 ('conv_wed', 0.0034640128157154004),
 ('conv_mon', 0.0044440397402315535),
 ('conv_tue', 0.00599635101952245),
 ('conv_th', 0.009195491693476776),
 ('Sunday', 0.034498558564143855),
 ('Saturday', 0.045590446225142967),
 ('Monday', 0.05082771852366852),
 ('Tuesday', 0.07039581917176119),
 ('Wednesday', 0.07736843299758878),
 ('Friday', 0.07833553460442444),
 ('Thursday', 0.0912895260089498),
 ('cant_eventos_totales', 0.21299069155708283)]